Repository official-stockfish/fishtest, pull requests merged in 2020-09, with the labels that each got.

#783 Rescale TC with new NPS
  fishtest/fishtest/views.py
  fishtest/utils/delta_update_users.py
  worker/games.py
Labels: worker

#785 Use unique openings
  worker/games.py
Labels: worker

#786 Raise worker version to 86
  worker/worker.py
Labels: worker

#788 Link username to user tests page from tests_view pages
  fishtest/fishtest/templates/tests_view.mak
Labels: enhancement, server

#789 Use separate homepage sections for pending and paused tests
  fishtest/fishtest/static/js/application.js
  fishtest/fishtest/templates/base.mak
  fishtest/fishtest/templates/run_tables.mak
  fishtest/fishtest/views.py
Labels: enhancement, server

#795 Adjust SPSA batch size
  worker/games.py
  worker/worker.py
Labels: enhancement, worker
