Repository official-stockfish/fishtest, pull requests merged in 2020-08, with the labels that each got.

#735 Use the string literal '' as iter() sentinel
  worker/games.py
Labels: bug, worker

#734 Fix "tc_limit" for SPSA
  worker/games.py
Labels: bug, worker

#738 Worker changes for NNUE testing
  worker/games.py
  worker/worker.py
Labels: nnue, wip, worker

#737 Improve the subprocess usage
  worker/games.py
Labels: enhancement, worker

#736 NN upload/download support
  fishtest/fishtest/__init__.py
  fishtest/fishtest/actiondb.py
  fishtest/fishtest/api.py
  fishtest/fishtest/rundb.py
  fishtest/fishtest/templates/actions.mak
  fishtest/fishtest/templates/base.mak
  fishtest/fishtest/templates/nn_upload.mak
  fishtest/fishtest/templates/nns.mak
  fishtest/fishtest/views.py
  fishtest/utils/create_indexes.py
Labels: nnue, server

#742 Minor NN Updates and fix test buttons
  fishtest/fishtest/templates/nns.mak
  fishtest/fishtest/templates/tests_run.mak
Labels: nnue, server

#748 Checkbox for license
  fishtest/fishtest/templates/nn_upload.mak
Labels: enhancement, nnue, server

#752 test params for SPSA (> 0)
  fishtest/fishtest/views.py
Labels: bug, server

#745 Send ARCH to server
  fishtest/fishtest/api.py
  fishtest/fishtest/rundb.py
  fishtest/fishtest/templates/tests_view.mak
  fishtest/tests/test_rundb.py
  worker/games.py
Labels: worker

#747 Remove x86-64-sse42 target (corresponds to Stockfish pull request)
  worker/games.py
Labels: enhancement, worker

#749 Prepare for PGO builds with hybrid bench
  worker/games.py
  worker/test_worker.py
Labels: enhancement, nnue, worker

#750 Update the authors list, as of August 11 2020
  AUTHORS
  worker/worker.py
Labels: worker

#755 Raise worker version to 84 (server side)
  fishtest/fishtest/api.py
Labels: server

#759 Update NN database with usage
  fishtest/fishtest/rundb.py
  fishtest/fishtest/templates/nns.mak
  fishtest/fishtest/views.py
Labels: enhancement, server

#766 Fix last active
  fishtest/utils/delta_update_users.py
Labels: server, wip

#765 Clarify the color coding, and use of nets
  fishtest/fishtest/templates/nns.mak
Labels: enhancement, server

#763 Rewrite update_nn
  fishtest/fishtest/rundb.py
Labels: server

#771 Show Net info for tests
  fishtest/fishtest/rundb.py
  fishtest/fishtest/views.py
Labels: enhancement, server

#772 Adjust SPRT bounds
  fishtest/fishtest/templates/base.mak
  fishtest/fishtest/templates/tests_run.mak
Labels: enhancement, server

#761 Reduce somewhat the minimum NPS
  worker/games.py
Labels: worker

#762 Detect vnni targets
  worker/games.py
Labels: worker

#769 Detect x86-32 targets
  worker/games.py
Labels: worker

#777 Finding the default net from sources.
  fishtest/fishtest/views.py
  worker/games.py
Labels: server, worker

#779 Raise version to 85 (worker side)
  worker/worker.py
Labels: worker

#778 Use black to reformat code
  fishtest/fishtest/__init__.py
  fishtest/fishtest/actiondb.py
  fishtest/fishtest/api.py
  fishtest/fishtest/helpers.py
  fishtest/fishtest/models.py
  fishtest/fishtest/rundb.py
  fishtest/fishtest/stats/LLRcalc.py
  fishtest/fishtest/stats/brownian.py
  fishtest/fishtest/stats/sprt.py
  fishtest/fishtest/stats/stat_util.py
  fishtest/fishtest/userdb.py
  fishtest/fishtest/util.py
  fishtest/fishtest/views.py
  fishtest/run_all_tests.py
  fishtest/setup.py
  fishtest/tests/test_api.py
  fishtest/tests/test_run.py
  fishtest/tests/test_rundb.py
  fishtest/tests/test_users.py
  fishtest/tests/util.py
  fishtest/utils/clone_fish.py
  fishtest/utils/compact_actions.py
  fishtest/utils/create_indexes.py
  fishtest/utils/create_pgndb.py
  fishtest/utils/current.py
  fishtest/utils/delta_update_users.py
  fishtest/utils/index_pending.py
  fishtest/utils/purge_pgn.py
  fishtest/utils/scavenge.py
  fishtest/utils/test_queries.py
  worker/games.py
  worker/setup.py
  worker/test_worker.py
  worker/updater.py
  worker/worker.py
Labels: enhancement, server, wip, worker

#781 Use latest black and isort to reformat code
  fishtest/fishtest/__init__.py
  fishtest/fishtest/rundb.py
  fishtest/fishtest/stats/LLRcalc.py
  fishtest/fishtest/stats/brownian.py
  fishtest/fishtest/stats/sprt.py
  fishtest/fishtest/stats/stat_util.py
  fishtest/fishtest/util.py
  worker/games.py
Labels: enhancement, server, worker
