Repository official-stockfish/fishtest, pull requests merged in 2020-11, with the labels that each got.

#855 Flush task info
  server/fishtest/rundb.py
Labels: enhancement, server

#856 Better task diagnostics
  server/fishtest/rundb.py
Labels: enhancement, server, wip

#858 Add unique_key for failed_task API call
  server/fishtest/api.py
  worker/worker.py
Labels: enhancement, worker

#862 gcc version check
  worker/worker.py
Labels: enhancement, worker

#861 Start using avx512 again.
  worker/games.py
Labels: enhancement, worker

#860 Show worker UUID and handle heartbeat exception
  server/fishtest/api.py
  worker/games.py
  worker/worker.py
Labels: enhancement, worker

#857 More task diagnostics and fix reallocated worker logic
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/tests/test_api.py
  server/tests/test_rundb.py
Labels: enhancement, server
