Repository official-stockfish/fishtest, pull requests merged in 2020-12, with the labels that each got.

#866 Allow finer control on num games tests
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server

#873 Hopefully clearer feedback in case of a missing net.
  server/fishtest/views.py
Labels: enhancement, nnue, server

#874 More stats auditing.
  server/fishtest/templates/tests_stats.mak
Labels: enhancement, server

#875 List SPRT bounds also in "normalized Elo" on the raw stats page.
  server/fishtest/templates/tests_stats.mak
Labels: enhancement, server

#876 Add Actions main.yaml
  .github/workflows/main.yaml
  .travis.yml
Labels: enhancement

#877 Add Actions workflow status badge
  README.md
Labels: enhancement
