Repository official-stockfish/fishtest, pull requests merged in 2021-05, with the labels that each got.

#920 Use commit sha to retrieve net.
  server/fishtest/views.py
Labels: bug, nnue, server

#927 Exact LLR for normalized Elo.
  server/fishtest/stats/LLRcalc.py
  server/fishtest/templates/tests_stats.mak
Labels: enhancement, server

#928 Stop the heartbeat when stopping the worker
  worker/worker.py
Labels: bug, worker

#929 Raise worker version to 99 (also server side)
  server/fishtest/api.py
  worker/worker.py
Labels: worker

#930 Decrease base nps
  server/fishtest/views.py
  server/utils/delta_update_users.py
  worker/games.py
Labels: enhancement, worker
