Repository official-stockfish/fishtest, pull requests merged in 2021-10, with the labels that each got.

#1059 Suggested fix for #1058.
  server/fishtest/rundb.py
  server/fishtest/util.py
Labels: bug, server

#1057 Automatically set dark.theme.css sha256 during server init
  server/fishtest/__init__.py
  server/fishtest/static/js/application.js
  server/fishtest/templates/base.mak
Labels: enhancement, server, gui

#1061 Raise worker version to 110: drop old "requests"
  server/fishtest/api.py
  worker/worker.py
Labels: bug, enhancement, worker

#1063 Only LTC task to Windows high concurrency worker
  server/fishtest/rundb.py
Labels: enhancement, server

#1064 Fix format in mako templates
  server/fishtest/templates/login.mak
  server/fishtest/templates/machines_table.mak
  server/fishtest/templates/nn_upload.mak
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/run_tables.mak
  server/fishtest/templates/signup.mak
  server/fishtest/templates/tests_finished.mak
  server/fishtest/templates/tests_user.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/templates/user.mak
  server/fishtest/templates/users.mak
Labels: server, gui, refactoring

#1065 Auto format files with black and isort
  server/fishtest/__init__.py
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_api.py
  server/tests/test_rundb.py
  worker/games.py
Labels: refactoring

#1067 Drop old string format
  server/fishtest/rundb.py
  server/fishtest/stats/sprt.py
  server/fishtest/templates/tests_view.mak
  server/fishtest/userdb.py
  server/fishtest/util.py
  server/fishtest/views.py
Labels: server, refactoring

#1068 Fix typo in string format
  server/fishtest/stats/sprt.py
Labels: bug, gui

#1069 Add explanatory comments about the computation of residuals.
  server/fishtest/util.py
Labels: server, refactoring

#1066 Styling tweaks for create new test page
  server/fishtest/static/css/theme.dark.css
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server, gui

#1078 More refactorings.
  worker/games.py
  worker/test_worker.py
  worker/worker.py
Labels: worker, refactoring

#1081 Give server feedback for failed tasks.
  server/fishtest/actiondb.py
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/templates/actions.mak
  server/fishtest/views.py
  worker/games.py
  worker/test_worker.py
  worker/worker.py
Labels: enhancement, worker

#1083 Raise worker version to 114 (also server side)
  server/fishtest/api.py
  worker/worker.py
Labels: worker

#1088 Make implicit exceptions (of the type filename:fileno) fatal.
  worker/worker.py
Labels: enhancement, worker

#1090 Add a comment why there is no failed_task message after stop_run.
  worker/games.py
Labels: worker, refactoring

#1085 Drop Python2 support from worker
  server/fishtest/actiondb.py
  server/fishtest/rundb.py
  worker/games.py
  worker/test_worker.py
  worker/updater.py
  worker/worker.py
Labels: worker, python 3

#1096 Raise worker version to 116 (also server side)
  server/fishtest/api.py
  worker/worker.py
Labels: worker

#1102 Update home page links names
  server/fishtest/templates/base.mak
Labels: enhancement, server, gui

#1106 Restrict the length of failed task message to 256 characters.
  server/fishtest/rundb.py
Labels: enhancement, server

#1099 For a failed get_request use the exception in the error message.
  worker/games.py
Labels: enhancement, worker

#1104 Do not mask Ctrl-C when wrapping a call.
  worker/games.py
Labels: enhancement, worker

#1107 Raise worker version to 117 (also server side)
  server/fishtest/api.py
  worker/worker.py
Labels: worker

#1115 Code clean up
  worker/games.py
  worker/test_worker.py
  worker/updater.py
  worker/worker.py
Labels: worker, refactoring

#1133 Show worker RAM in home and test pages
  server/fishtest/templates/machines_table.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1135 New bounds for SPRT tests
  server/fishtest/templates/base.mak
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server

#1137 Live elo links and indentation
  server/fishtest/static/css/live_elo.css
Labels: enhancement, server, gui

#1138 SPRT Calc icon fix
  server/fishtest/static/css/application.css
Labels: bug, server, gui

#1140 Send the gcc version to the server as part of the worker_info.
  worker/worker.py
Labels: enhancement, worker

#1141 Show gcc version in home and test pages
  server/fishtest/templates/machines_table.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1139 Live elo changes
  server/fishtest/static/html/live_elo.html
Labels: enhancement, server, gui
