Repository official-stockfish/fishtest, pull requests merged in 2021-09, with the labels that each got.

#1012 Simplify the code using numpy: non functional
  server/fishtest/util.py
Labels: enhancement, server

#1016 On the raw stats page show pentanomial statistics from the beginning.
  server/fishtest/rundb.py
Labels: enhancement, server, gui

#1018 Use multiples of 100 for freq.
  server/fishtest/rundb.py
Labels: enhancement, server, gui

#1019 Use generator expression
  server/fishtest/rundb.py
Labels: enhancement, server

#1021 Dynamic tasks
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/templates/tests_view.mak
  server/fishtest/util.py
  server/tests/test_api.py
  server/tests/test_rundb.py
  worker/games.py
  worker/worker.py
Labels: enhancement, worker

#1025 Fix test_view.mak format using also f-string
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server

#1026 Resort the task queue after a task has been assigned.
  server/fishtest/rundb.py
Labels: bug, server

#1028 Use a function and drop the lambda
  server/fishtest/rundb.py
Labels: enhancement, server

#1029 Sort "task_runs" at the correct place.
  server/fishtest/rundb.py
Labels: bug, server

#1033 Try to find a new run for a worker in request_task().
  server/fishtest/rundb.py
Labels: enhancement, server

#1034 Get rid of sequence number in the worker key.
  server/fishtest/util.py
Labels: enhancement, server

#1036 Document and refactor request_task.
  server/fishtest/rundb.py
Labels: enhancement, server

#1035 Get rid of worker_key altogether.
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/templates/tests_view.mak
  server/fishtest/util.py
Labels: enhancement, server

#1040 Fix format replacing tabs with spaces
  server/fishtest/templates/tests_view.mak
Labels: server, refactoring

#1039 Get rid of the flag "task['pending']".
  server/fishtest/rundb.py
  server/fishtest/templates/tests_view.mak
  server/tests/test_api.py
Labels: enhancement, server

#1041 Use f-string in make templates
  server/fishtest/templates/machines_table.mak
  server/fishtest/templates/tests.mak
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/users.mak
Labels: server, refactoring

#1042 Use f-string in tests_stats.mak
  server/fishtest/templates/tests_stats.mak
Labels: server, refactoring

#1043 Trim trailing whitespaces in mako files
  server/fishtest/templates/base.mak
  server/fishtest/templates/elo_results.mak
  server/fishtest/templates/nn_upload.mak
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/run_tables.mak
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_view.mak
Labels: server, refactoring

#1046 Purge a test only if not older than 30 days
  server/fishtest/rundb.py
Labels: bug, server

#1048 Fix text format
  server/development.ini
Labels: server, refactoring

#1047 Upgrade pyramid from 1.10 to 2.0
  server/fishtest/__init__.py
  server/fishtest/views.py
  server/setup.py
Labels: server, update

#1044 Upgrade bootstrap from 2.3.2 to 5.1.1
  server/fishtest/static/css/application.css
  server/fishtest/static/css/theme.dark.css
  server/fishtest/static/html/SPRTcalculator.html
  server/fishtest/static/html/live_elo.html
  server/fishtest/static/js/application.js
  server/fishtest/templates/actions.mak
  server/fishtest/templates/base.mak
  server/fishtest/templates/elo_results.mak
  server/fishtest/templates/login.mak
  server/fishtest/templates/machines_table.mak
  server/fishtest/templates/nn_upload.mak
  server/fishtest/templates/nns.mak
  server/fishtest/templates/pending.mak
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/run_tables.mak
  server/fishtest/templates/signup.mak
  server/fishtest/templates/tests.mak
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_stats.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/templates/users.mak
Labels: server, gui, update

#1050 Fix toggling individual spsa parameters dropdown
  server/fishtest/static/js/spsa.js
  server/fishtest/templates/tests_view.mak
Labels: bug, server, gui, update

#1051 Enable using dynamic cachebusters for static files
  server/fishtest/__init__.py
  server/fishtest/templates/base.mak
Labels: enhancement, server, gui

#1054 Add comment for the theme.dark.css SRI hash
  server/fishtest/static/css/theme.dark.css
  server/fishtest/static/js/application.js
Labels: server, gui, refactoring

#1055 Use the default bootstrap color for table info
  server/fishtest/static/css/application.css
Labels: enhancement, gui

#1049 Refactor purging logic and overhaul the residuals computation.
  server/fishtest/rundb.py
  server/fishtest/util.py
  server/fishtest/views.py
Labels: bug, enhancement, server
