Repository official-stockfish/fishtest, pull requests merged in 2021-06, with the labels that each got.

#937 Use lexicographical tuple comparisons for comparing versions
  worker/games.py
  worker/worker.py
Labels: enhancement, worker

#942 Improve GitHub workflow status badge
  README.md
Labels: enhancement, server

#940 Fix deprecation warning for collection_names
  server/utils/create_indexes.py
Labels: enhancement, server

#941 Improve readability
  server/fishtest/views.py
Labels: enhancement, server

#948 Disable AVX512 for now.
  worker/games.py
Labels: enhancement, worker

#951 Fix posting tests results on googlegroup
  server/fishtest/util.py
Labels: bug, server

#950 Add Discord link
  server/fishtest/templates/base.mak
Labels: enhancement, gui, server

#957 Updated the History link to new tests results googlegroups
  server/fishtest/templates/base.mak
Labels: enhancement, gui

#955 Adjustments of dark mode
  server/fishtest/static/css/theme.dark.css
  server/fishtest/static/js/application.js
Labels: enhancement, gui, server

#954 Add password strength requirement
  server/fishtest/templates/signup.mak
  server/fishtest/templates/user.mak
  server/fishtest/util.py
  server/fishtest/views.py
  server/setup.py
Labels: bug, enhancement, gui, server
