Repository official-stockfish/fishtest, pull requests merged in 2021-08, with the labels that each got.

#980 Show the worker UUID in machines/tasks tables
  server/fishtest/templates/machines_table.mak
  server/fishtest/util.py
Labels: enhancement, gui, server

#982 Reformat server code with black and isort
  server/fishtest/__init__.py
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/stats/LLRcalc.py
  server/fishtest/stats/sprt.py
  server/fishtest/stats/stat_util.py
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_api.py
  server/tests/test_users.py
  server/utils/compact_actions.py
  server/utils/delta_update_users.py
  server/utils/purge_pgn.py
Labels: server

#983 Fix flake8 errors/warnings for server code
  server/fishtest/__init__.py
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/stats/LLRcalc.py
  server/fishtest/stats/brownian.py
  server/fishtest/stats/sprt.py
  server/fishtest/stats/stat_util.py
  server/fishtest/util.py
  server/fishtest/views.py
  server/setup.py
  server/tests/test_api.py
  server/tests/test_rundb.py
  server/tests/test_users.py
  server/utils/compact_actions.py
  server/utils/purge_pgn.py
Labels: server

#960 Fix password parsing with configparser
  worker/worker.py
Labels: bug, worker

#966 Fix message about --concurrency set to 0 or less in worker.py
  worker/worker.py
Labels: enhancement, worker

#984 Raise worker version to 102 (also server side)
  server/fishtest/api.py
  worker/worker.py
Labels: worker

#986 Fix missing word in error message for --concurrency
  worker/worker.py
Labels: enhancement, worker

#990 Add link to NNUE PyTorch repo
  server/fishtest/templates/base.mak
Labels: enhancement, server, gui, nnue

#991 Add link to Books repo
  server/fishtest/templates/base.mak
Labels: enhancement, server, gui

#992 Stop the test after failing to setup an engine
  worker/games.py
Labels: bug, worker

#996 Update to a new default book
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server

#997 Make the defaults for the SPRTcalculator compatible with the new book.
  server/fishtest/templates/base.mak
Labels: server, gui, update

#999 Correct the chi2 p-value computation for an unbalanced book.
  server/fishtest/util.py
Labels: enhancement, server, pentanomial

#1000 Show the pentanomial frequencies on the main test page.
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, pentanomial

#1002 Enable asymmetric TC in worker.
  worker/games.py
Labels: enhancement, worker

#1004 Enable asymmetric TC on the server.
  server/fishtest/rundb.py
  server/fishtest/templates/elo_results.mak
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_stats.mak
  server/fishtest/views.py
  server/tests/test_api.py
  server/tests/test_rundb.py
  server/tests/test_users.py
Labels: enhancement, server

#1008 Dark mode refinements
  server/fishtest/static/css/theme.dark.css
  server/fishtest/static/js/application.js
  server/fishtest/templates/elo_results.mak
Labels: bug, server, gui
