Repository official-stockfish/fishtest, pull requests merged in 2021-11, with the labels that each got.

#1142 Sort the table rows for dotted version header
  server/fishtest/static/js/application.js
Labels: bug, server

#1146 Drop two function calls using variables in js
  server/fishtest/static/js/application.js
Labels: bug, enhancement, server, gui

#1145 Do the check for a working cutechess_cli before building SF.
  worker/games.py
Labels: enhancement, worker

#1147 Increase the maximum length of an action message to 1024.
  server/fishtest/rundb.py
Labels: enhancement, server

#1148 Change "Actions" to "Events".
  server/fishtest/templates/actions.mak
  server/fishtest/templates/base.mak
Labels: refactoring

#1149 Catch duplicate workers early on.
  worker/worker.py
Labels: enhancement, worker

#1152 Send errors when the cutechess version info is not found.
  worker/games.py
  worker/worker.py
Labels: enhancement, worker

#1155 Make lock file system more robust.
  worker/worker.py
Labels: enhancement, worker

#1160 Add timeouts
  server/fishtest/views.py
Labels: enhancement, server, nnue

#1165 Final simplification of api.py.
  server/fishtest/api.py
  server/tests/test_api.py
Labels: enhancement, server

#1168 Prevent scroll wheel from changing bench for firefox users.
  server/fishtest/templates/tests_run.mak
Labels: bug, server, gui

#1169 Raise HTTP_TIMEOUT for neural network upload
  server/fishtest/views.py
Labels: bug, server, nnue

#1161 Improve the upload requests error handling
  server/fishtest/views.py
Labels: enhancement, server

#1171 Stop the run if the server sends invalid SPSA options.
  worker/games.py
Labels: bug, worker
