Repository official-stockfish/fishtest, pull requests merged in 2021-04, with the labels that each got.

#895 Use always os.path.join()
  worker/updater.py
Labels: enhancement, worker

#896 Call kill_process() even after exception
  worker/games.py
Labels: enhancement, worker

#897 Use short try block
  worker/games.py
Labels: enhancement, worker

#899 Use safe "-games" option in cutechess-cli
  worker/games.py
Labels: enhancement, worker

#900 Update .gitignore
  .gitignore
Labels: enhancement, server

#905 Raise worker version to 98 (also server side)
  server/fishtest/api.py
  worker/worker.py
Labels: worker

#906 Add SPRT bounds for classical tests.
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server

#911 Allow specifying bounds in normalized Elo in the SPRT calculator
  server/fishtest/static/html/SPRTcalculator.html
  server/fishtest/static/js/calc.js
  server/fishtest/static/js/sprt.js
  server/fishtest/templates/base.mak
Labels: enhancement, server

#914 Use normalized Elo input for Fishtest
  server/fishtest/rundb.py
  server/fishtest/static/js/calc.js
  server/fishtest/stats/LLRcalc.py
  server/fishtest/stats/sprt.py
  server/fishtest/stats/stat_util.py
  server/fishtest/templates/base.mak
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_stats.mak
  server/fishtest/util.py
  server/fishtest/views.py
Labels: enhancement, server
