Repository official-stockfish/fishtest, pull requests merged in 2021-03, with the labels that each got.

#886 Set pyramid to version 1.10
  server/setup.py
Labels: bug, server

#888 Write the uuid.txt file in the worker folder
  worker/worker.py
Labels: bug, worker

#890 Show complete python version
  server/fishtest/api.py
  worker/worker.py
Labels: enhancement, worker

#894 Switch folder to fix the update process
  server/fishtest/api.py
  worker/games.py
  worker/updater.py
  worker/worker.py
Labels: bug, worker

#901 New SPRT bounds for tests
  server/fishtest/templates/base.mak
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server

#898 Bug in ordering users in website: fixing attempt
  server/fishtest/static/js/application.js
  server/fishtest/templates/users.mak
  server/fishtest/util.py
  server/fishtest/views.py
  server/utils/delta_update_users.py
Labels: bug, gui, server
