Repository official-stockfish/fishtest, pull requests merged in 2021-12, with the labels that each got.

#1175 Use pymongo 3.x
  server/setup.py
Labels: bug, server

#1174 Simplify authentication in api.py.
  server/fishtest/api.py
  server/fishtest/userdb.py
  server/tests/test_users.py
Labels: server, refactoring

#1173 Improve account creation messages
  server/fishtest/templates/signup.mak
  server/fishtest/userdb.py
  server/fishtest/views.py
  server/tests/test_users.py
Labels: enhancement, server, gui

#1172 Send a SIGINT to cutechess-cli to give it a chance to exit nicely (Linux only).
  worker/games.py
Labels: enhancement, worker

#1177 Format large return codes in hexadecimal.
  worker/games.py
Labels: enhancement, worker

#1179 Put send_sigint in the try: except: block.
  worker/games.py
Labels: enhancement, worker

#1182 Post dead tasks in the event log.
  server/fishtest/actiondb.py
  server/fishtest/rundb.py
  server/fishtest/templates/actions.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1181 Send CTRL+C to cutechess-cli on Windows
  worker/games.py
Labels: enhancement, worker

#1183 Do not make dead tasks visible by default in the events log.
  server/fishtest/actiondb.py
  server/fishtest/static/css/application.css
  server/fishtest/static/css/theme.dark.css
  server/fishtest/templates/actions.mak
Labels: enhancement, server, gui

#1186 Little clean up
  server/fishtest/views.py
  worker/games.py
  worker/worker.py
Labels: worker, refactoring

#1190 Bug in games.py.
  worker/games.py
Labels: bug, worker

#1191 Display asci logo at startup.
  worker/worker.py
Labels: enhancement, worker

#1195 Adjust network timeouts
  worker/games.py
  worker/worker.py
Labels: enhancement, worker

#1200 Make `failed_task()` less expensive.
  server/fishtest/rundb.py
  server/fishtest/views.py
Labels: enhancement, server, scaling

#1205 Assign LTC task for more than 32 cores
  server/fishtest/rundb.py
Labels: enhancement, server

#1196 Remove a bunch of superfluous arguments from verify_signature().
  worker/games.py
Labels: worker, refactoring

#1197 Reduce timeouts and delays not related to http.
  worker/games.py
  worker/worker.py
Labels: enhancement, worker

#1201 Make python_version separate from version.
  server/fishtest/api.py
  server/fishtest/templates/machines_table.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/util.py
  server/tests/test_api.py
  worker/worker.py
Labels: worker, refactoring

#1202 Systematically benchmark api calls (worker side and server side).
  server/fishtest/api.py
  server/tests/test_api.py
  worker/games.py
  worker/worker.py
Labels: enhancement, worker, scaling

#1206 Adjust remaining hours estimate
  server/fishtest/util.py
Labels: enhancement, server, gui

#1207 Clean up "machines_table.mak" after workers update
  server/fishtest/templates/machines_table.mak
Labels: enhancement, server

#1208 Add timestamp to api timings.
  worker/games.py
Labels: enhancement, worker

#1211 Keep user built cutechess-cli for MacOS
  worker/updater.py
Labels: enhancement, worker

#1212 Introduce generic logging function with timestamp.
  worker/games.py
  worker/worker.py
Labels: enhancement, worker

#1213 Fix a problem with Ctrl-C during /api/update_task.
  worker/games.py
  worker/worker.py
Labels: bug, worker

#1214 Eliminate the random delay before pgn uploading.
  worker/worker.py
Labels: enhancement, worker

#1215 Move `ARCH` and `nps` to `worker_info`.
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/templates/tests_view.mak
  server/tests/test_api.py
  server/tests/test_rundb.py
  worker/games.py
  worker/worker.py
Labels: enhancement, worker

#1216 Introduce `/api/get_task/{id}/{task_id}`
  server/fishtest/__init__.py
  server/fishtest/api.py
Labels: enhancement, server

#1218 Various tweaks in preparation of db conversion.
  server/fishtest/api.py
  server/fishtest/rundb.py
Labels: enhancement, server

#1210 Fix html tag attributes and auto format css, html, js files
  server/fishtest/static/css/application.css
  server/fishtest/static/css/flags.css
  server/fishtest/static/css/live_elo.css
  server/fishtest/static/css/theme.dark.css
  server/fishtest/static/html/SPRTcalculator.html
  server/fishtest/static/html/live_elo.html
  server/fishtest/static/js/calc.js
  server/fishtest/static/js/gkr.js
  server/fishtest/static/js/jquery.cookie.js
  server/fishtest/static/js/live_elo.js
  server/fishtest/static/js/spsa.js
  server/fishtest/static/js/spsa_new.js
Labels: server, refactoring
