Repository official-stockfish/fishtest, pull requests merged in 2022-10, with the labels that each got.

#1430 Use a select with options for the books in tests_run
  server/fishtest/templates/tests_run.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1431 Events pagination
  server/fishtest/actiondb.py
  server/fishtest/templates/actions.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1432 Fix events pagination
  server/fishtest/actiondb.py
  server/fishtest/views.py
Labels: enhancement, server, gui

#1433 Minimal solution for cached requests with wrong states
  server/fishtest/views.py
Labels: enhancement, server, gui

#1434 Catch error in case of no browser support
  server/fishtest/static/js/application.js
  server/fishtest/templates/tests_view.mak
Labels: bug, server, gui

#1435 Adjust adjudication params by +50% in wake of new net arch with equivalent eval inflation
  worker/games.py
Labels: enhancement, worker

#1437 Template literals, avoid innerHTML and user link
  server/fishtest/static/js/live_elo.js
  server/fishtest/templates/tests_live_elo.mak
Labels: enhancement, server, gui

#1441 Handle make with invalid permissions gracefully.
  worker/games.py
Labels: enhancement, worker
