Repository official-stockfish/fishtest, pull requests merged in 2022-11, with the labels that each got.

#1443 Update github actions
  .github/workflows/main.yaml
  .github/workflows/server.yaml
  .github/workflows/worker_linux.yaml
  .github/workflows/worker_msys2.yaml
  README.md
Labels: enhancement, update

#1442 Compute sri hashes of worker files and compare with master
  worker/sri.txt
  worker/test_worker.py
  worker/worker.py
Labels: enhancement, worker

#1444 Retire uuid.txt.
  worker/worker.py
Labels: enhancement, worker

#1445 Give some indications that a worker is modified
  server/fishtest/api.py
  server/fishtest/templates/machines_table.mak
  server/fishtest/util.py
  server/tests/test_api.py
  server/tests/test_rundb.py
Labels: enhancement, server

#1446 Ignore the master sri if it has a different version number
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker

#1448 Correct singular (1 minute ago instead of 1 minutes ago)
  server/fishtest/util.py
Labels: enhancement, server, gui

#1449 Verify the sri hashes of a worker update
  worker/sri.txt
  worker/updater.py
  worker/worker.py
Labels: enhancement, worker

#1424 Progression tests presets v3.1
  server/fishtest/templates/tests_run.mak
  server/fishtest/views.py
  server/tests/test_run.py
Labels: server, gui, refactoring
