Repository official-stockfish/fishtest, pull requests merged in 2022-03, with the labels that each got.

#1295 Add email validation
  server/fishtest/util.py
  server/fishtest/views.py
  server/setup.py
Labels: enhancement, server, gui, strong authentication

#1297 Auto format code with prettier
  server/fishtest/static/css/application.css
  server/fishtest/static/html/SPRTcalculator.html
  server/fishtest/static/html/live_elo.html
  server/fishtest/static/js/calc.js
Labels: server, refactoring

#1303 Fix password parsing with configparser
  worker/test_worker.py
  worker/worker.py
Labels: bug, worker

#1305 Normalize SPSA x-axis between 0-100
  server/fishtest/static/js/spsa.js
Labels: enhancement, server, gui
