Repository official-stockfish/fishtest, pull requests merged in 2022-04, with the labels that each got.

#1304 Simplify the update of the SPSA history parameters
  server/fishtest/rundb.py
Labels: bug, enhancement, server

#1306 Simplify SPSA "clipping" and "rounding" code
  server/fishtest/rundb.py
  server/fishtest/templates/tests_run.mak
  server/fishtest/views.py
Labels: enhancement, server

#1308 Fix table header overlapping the dropdown menu
  server/fishtest/templates/tests_view.mak
Labels: bug, server, gui

#1310 Print exception name
  worker/worker.py
Labels: enhancement, worker, gui

#1311 Simplify code for SPSA chart
  server/fishtest/__init__.py
  server/fishtest/static/js/spsa.js
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1312 Try catch block around net download.
  worker/games.py
Labels: enhancement, worker

#1313 Web packages update
  server/fishtest/static/css/theme.dark.css
  server/fishtest/static/html/SPRTcalculator.html
  server/fishtest/static/html/live_elo.html
  server/fishtest/templates/base.mak
  server/fishtest/templates/tests_stats.mak
Labels: server, gui, update

#1315 Simplify the machines table code
  server/fishtest/__init__.py
  server/fishtest/static/js/application.js
  server/fishtest/templates/tests.mak
  server/fishtest/views.py
Labels: server, gui, refactoring

#1316 Add a toggle button for the tasks table
  server/fishtest/static/js/application.js
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1317 Normalize the y values in SPSA gaussian regression
  server/fishtest/static/js/gkr.js
Labels: bug, server, gui

#1318 Rewrite the Gaussian Kernel Regression
  server/fishtest/static/js/gkr.js
  server/fishtest/static/js/spsa.js
  server/fishtest/templates/tests_view.mak
Labels: bug, server, gui

#1319 Expand the vertical range of data in SPSA chart
  server/fishtest/static/js/spsa.js
Labels: enhancement, server, gui

#1320 Add "c_end" "r_end" in SPSA table
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1321 Clean up SPSA chart code
  server/fishtest/static/js/spsa.js
  server/fishtest/templates/tests_view.mak
Labels: server, gui, refactoring

#1322 Update the highlight js library to v 11.5.1
  server/fishtest/static/html/SPRTcalculator.html
  server/fishtest/static/html/live_elo.html
  server/fishtest/static/js/highlight.diff.min.js
  server/fishtest/static/js/spsa.js
  server/fishtest/templates/base.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1323 Configure SPSA chart for light and dark themes
  server/fishtest/static/js/spsa.js
Labels: enhancement, server, gui

#1325 Drop the table "border-top" from dark theme
  server/fishtest/static/css/theme.dark.css
Labels: bug, enhancement, server, gui

#1326 Set SPSA A proportional to the total iterations
  server/fishtest/templates/tests_run.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1328 Little refactoring of spsa_new.js
  server/fishtest/static/js/spsa_new.js
Labels: server, refactoring

#1329 Get highlight github themes from cdnjs
  server/fishtest/static/css/highlight.github.css
  server/fishtest/templates/tests_view.mak
Labels: server, gui, update

#1330 Add title to stats page
  server/fishtest/templates/tests_stats.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1331 Improve subresource integrity code
  server/fishtest/__init__.py
  server/fishtest/static/html/live_elo.html
  server/fishtest/static/js/application.js
  server/fishtest/templates/base.mak
  server/fishtest/templates/nn_upload.mak
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_view.mak
Labels: server, refactoring

#1332 GUI integration for SPRT calculator
  server/fishtest/__init__.py
  server/fishtest/static/css/application.css
  server/fishtest/static/html/SPRTcalculator.html
  server/fishtest/static/js/calc.js
  server/fishtest/templates/base.mak
  server/fishtest/templates/sprt_calc.mak
  server/fishtest/templates/tests_stats.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1333 Add static files to cache_busters
  server/fishtest/__init__.py
  server/fishtest/templates/elo_results.mak
  server/fishtest/templates/sprt_calc.mak
  server/fishtest/templates/tests.mak
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server

#1334 Integrate Live Elo page in GUI
  server/fishtest/__init__.py
  server/fishtest/static/html/live_elo.html
  server/fishtest/static/js/live_elo.js
  server/fishtest/templates/elo_results.mak
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/tests_live_elo.mak
  server/fishtest/templates/tests_stats.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1335 Optimize SPSA Autoselect for "UHO_XXL_+0.90_+1.19.epd"
  server/fishtest/static/js/spsa_new.js
Labels: server, update

#1336 Little code clean up
  server/fishtest/__init__.py
  server/fishtest/static/js/application.js
  server/fishtest/templates/base.mak
  server/fishtest/views.py
Labels: server, refactoring

#1337 Update comments after #1335
  server/fishtest/static/js/spsa_new.js
  server/fishtest/templates/tests_run.mak
Labels: server, refactoring

#1338 Change the GeoIP provider
  server/fishtest/api.py
Labels: enhancement, server, update

#1340 Fix page titles and headers size
  server/fishtest/templates/actions.mak
  server/fishtest/templates/login.mak
  server/fishtest/templates/nn_upload.mak
  server/fishtest/templates/nns.mak
  server/fishtest/templates/pending.mak
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/run_tables.mak
  server/fishtest/templates/signup.mak
  server/fishtest/templates/tests_finished.mak
  server/fishtest/templates/tests_live_elo.mak
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_stats.mak
  server/fishtest/templates/tests_user.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/templates/user.mak
  server/fishtest/templates/users.mak
Labels: enhancement, gui
