Repository official-stockfish/fishtest, pull requests merged in 2022-08, with the labels that each got.

#1395 Minor style changes
  server/fishtest/static/css/application.css
  server/fishtest/static/css/live_elo.css
  server/fishtest/static/css/theme.dark.css
  server/fishtest/static/js/live_elo.js
  server/fishtest/templates/login.mak
  server/fishtest/templates/nn_upload.mak
  server/fishtest/templates/signup.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/templates/user.mak
Labels: enhancement, server, gui

#1396 Save diffs in sessionStorage
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1398 Clean up more code for live_elo page
  server/fishtest/static/css/live_elo.css
  server/fishtest/static/js/live_elo.js
  server/fishtest/templates/tests_live_elo.mak
Labels: server, refactoring

#1409 Improve the purging PGNs script
  server/utils/purge_pgn.py
Labels: bug, enhancement, server
