Repository official-stockfish/fishtest, pull requests merged in 2022-01, with the labels that each got.

#1221 Drop link for "Unknown_worker"
  server/fishtest/templates/tests_view.mak
Labels: bug, server, gui

#1222 Add Monitoring to the sidebar
  server/fishtest/static/css/application.css
  server/fishtest/templates/base.mak
Labels: enhancement, server, gui

#1225 Adjust max games limit, and default test limit
  server/fishtest/views.py
Labels: enhancement, server

#1227 Fix issue with incorrectly reported document counts.
  server/fishtest/rundb.py
Labels: bug, server

#1228 Drop deprecated pymongo function
  server/fishtest/userdb.py
Labels: server, update

#1229 Create `failed`, `deleted`, `is_green`, `is_yellow` flags in new_run.
  server/fishtest/rundb.py
  server/fishtest/views.py
Labels: enhancement, server

#1231 Do not use absolute pathname for net.
  worker/games.py
Labels: bug, worker

#1232 Allow FRC testing
  worker/games.py
Labels: enhancement, worker, frc

#1234 Further cleanups in the db.
  server/fishtest/rundb.py
  server/utils/upgrade.py
Labels: enhancement, server

#1235 Trivial cleanups2
  server/fishtest/rundb.py
  server/fishtest/stats/stat_util.py
  server/fishtest/templates/tests_view.mak
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_api.py
  server/tests/test_rundb.py
Labels: enhancement, server

#1236 List the pentanomial draw ratio on the raw stats page.
  server/fishtest/templates/tests_stats.mak
Labels: enhancement, server, gui

#1239 Make `run_table.mak` more parametrizable.
  server/fishtest/static/img/question_mark.svg
  server/fishtest/static/img/thumbs_up.svg
  server/fishtest/static/img/trash.svg
  server/fishtest/static/js/application.js
  server/fishtest/static/js/jquery.cookie.js
  server/fishtest/templates/base.mak
  server/fishtest/templates/machines_table.mak
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/run_tables.mak
  server/fishtest/templates/tests_finished.mak
  server/fishtest/util.py
  server/fishtest/views.py
Labels: enhancement, server, gui

#1243 Experiment: clean up indexes.
  server/utils/create_indexes.py
Labels: enhancement, server

#1244 Try once again to remove the hacks to count finished runs.
  server/fishtest/rundb.py
Labels: enhancement, server, gui

#1246 Fix formula for disabling "Next" button in pager.
  server/fishtest/views.py
Labels: bug, server

#1248 Refactoring `purge_run` - again.
  server/fishtest/rundb.py
  server/fishtest/views.py
Labels: bug, server

#1245 add_clang_and_m1_support
  worker/games.py
  worker/worker.py
Labels: enhancement, worker

#1251 download missing cutechess-cli for macos
  worker/games.py
Labels: enhancement, worker

#1252 Fix issue with usernames containing special characters.
  server/fishtest/templates/run_tables.mak
Labels: bug, server, gui

#1253 support apple-silicon when COMP=gcc
  worker/games.py
Labels: enhancement, worker

#1254 Add nps to error message
  worker/games.py
Labels: enhancement, worker

#1256 Send compiler (g++ or clang++) to server.
  server/fishtest/api.py
  server/fishtest/templates/machines_table.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/util.py
  server/tests/test_api.py
  worker/worker.py
Labels: enhancement, worker

#1257 Find clang props
  worker/games.py
Labels: enhancement, help wanted, worker

#1259 Introduce command line option compiler.
  worker/test_worker.py
  worker/worker.py
Labels: enhancement, worker

#1261 Switch from deprecated wmic to powershell
  worker/worker.py
Labels: worker, update

#1262 Refactor option handling a bit.
  worker/test_worker.py
  worker/worker.py
Labels: worker, refactoring

#1263 Drop the final gzip for mongodb backup
  server/utils/backup.sh
Labels: enhancement, server, update

#1267 Fix bug with `--max_memory 0`.
  server/fishtest/rundb.py
Labels: bug, server
