Repository official-stockfish/fishtest, pull requests merged in 2022-12, with the labels that each got.

#1467 Update progress link in view of new Stockfish wiki page.
  server/fishtest/static/css/application.css
  server/fishtest/templates/base.mak
Labels: server, gui, update

#1465 pre-wrap `<code>` to fix expanding width issue in test view
  server/fishtest/static/css/application.css
Labels: enhancement, server, gui

#1463 Give users list suggestion instead of history suggestions when autoco…
  server/fishtest/templates/actions.mak
  server/fishtest/templates/login.mak
Labels: enhancement, server, gui

#1471 Also break the word if no pre-wrap white space can be done
  server/fishtest/static/css/application.css
Labels: enhancement, server, gui

#1469 Use modern high-level API subprocess.run
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/test_worker.py
  worker/worker.py
Labels: worker, refactoring

#1473 Change the handling and presentation of events (PR1)
  server/fishtest/templates/actions.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1477 PR2: Extract the event fields directly from the data base.
  server/fishtest/actiondb.py
  server/fishtest/templates/actions.mak
  server/fishtest/views.py
  server/utils/convert_actions.py
Labels: enhancement, server

#1478 PR3: Directly write to the actiondb using the new schema.
  server/fishtest/actiondb.py
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/templates/actions.mak
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_api.py
  server/utils/convert_actions.py
Labels: enhancement, server

#1479 PR4: Add a free text search field to the event log page.
  server/fishtest/actiondb.py
  server/fishtest/templates/actions.mak
  server/fishtest/views.py
  server/utils/create_indexes.py
Labels: enhancement, server, gui

#1481 Fix url for username with space
  server/fishtest/templates/actions.mak
  server/fishtest/templates/base.mak
  server/fishtest/templates/elo_results.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/templates/users.mak
Labels: server, refactoring

#1483 Make the task target links in the event log point to tasks.
  server/fishtest/static/css/application.css
  server/fishtest/static/css/theme.dark.css
  server/fishtest/templates/actions.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1484 Hide diff in case we are scrolling to a specific task.
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1485 fixe access to the response variable
  server/fishtest/views.py
Labels: bug, server, nnue

#1482 Adaptation to W3C html validator, cleanups, formats, consistent uses,…
  server/fishtest/static/css/application.css
  server/fishtest/static/js/application.js
  server/fishtest/static/js/spsa.js
  server/fishtest/templates/actions.mak
  server/fishtest/templates/base.mak
  server/fishtest/templates/elo_results.mak
  server/fishtest/templates/login.mak
  server/fishtest/templates/nn_upload.mak
  server/fishtest/templates/nns.mak
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/signup.mak
  server/fishtest/templates/sprt_calc.mak
  server/fishtest/templates/tests.mak
  server/fishtest/templates/tests_live_elo.mak
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_stats.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/templates/user.mak
  server/fishtest/templates/users.mak
Labels: enhancement, server, gui

#1491 Better handling of scroll to task.
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1489 Do not delete a task after purging but mark it as bad.
  server/fishtest/rundb.py
  server/fishtest/templates/tests_view.mak
  server/fishtest/util.py
Labels: bug, server

#1492 Fix some missed W3C Validation errors.
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1493 Fix bug in the updating of user statistics.
  server/utils/delta_update_users.py
Labels: bug, server

#1494 Provide task links in the machine table.
  server/fishtest/rundb.py
  server/fishtest/templates/machines_table.mak
Labels: enhancement, server, gui

#1495 Eliminate flashing. Only one scroll command.
  server/fishtest/static/js/spsa.js
  server/fishtest/templates/tests_view.mak
Labels: server, gui, refactoring

#1496 Faster rendering and no more artifacts when processing ?show_task=xxx.
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1497 Make sure that the left pane does not disappear during scrolling.
  server/fishtest/templates/tests_view.mak
Labels: bug, server, gui

#1500 Convert some promiscuous code to async/await.
  server/fishtest/static/js/spsa.js
  server/fishtest/templates/tests_view.mak
Labels: server, gui, refactoring, iconic

#1499 Keep table heading visible after scrolling.
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1501 Record server shutdown and restart as system events in the event log.
  server/fishtest/actiondb.py
  server/fishtest/rundb.py
  server/fishtest/templates/actions.mak
  server/utils/delta_update_users.py
Labels: enhancement, server

#1502 (cleanup) Support the `listen host:port` directive in the ini file.
  server/fishtest/rundb.py
Labels: enhancement, server

#1503 Rewrite live_elo.js using async/await.
  server/fishtest/static/js/application.js
  server/fishtest/static/js/live_elo.js
  server/fishtest/static/js/spsa.js
  server/fishtest/templates/base.mak
  server/fishtest/templates/tests_live_elo.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, iconic

#1504 More refactoring of live_elo.js.
  server/fishtest/static/js/application.js
  server/fishtest/static/js/live_elo.js
Labels: enhancement, server, iconic

#1507 Simplified main loop in live_elo.js.
  server/fishtest/static/js/application.js
  server/fishtest/static/js/live_elo.js
Labels: enhancement, server, refactoring

#1508 Refactor and flatten the function `handle_diff()` in tests_view.mak.
  server/fishtest/static/js/application.js
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui, refactoring

#1487 Append a hash of the run_id to the run name (=branch).
  server/fishtest/actiondb.py
  server/fishtest/templates/actions.mak
  server/fishtest/util.py
  server/utils/convert_actions.py
Labels: enhancement, server

#1510 Replace quotation marks by standard ones.
  server/fishtest/views.py
Labels: bug, server

#1511 Give some information about new runs in the event log.
  server/fishtest/actiondb.py
  server/fishtest/rundb.py
  server/fishtest/templates/tests_run.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1513 Update packages downloaded from cdn
  server/fishtest/templates/base.mak
  server/fishtest/templates/sprt_calc.mak
  server/fishtest/templates/tests_view.mak
Labels: server, update

#1512 Give useful information in the event log of a finished run.
  server/fishtest/actiondb.py
  server/fishtest/rundb.py
  server/fishtest/templates/actions.mak
Labels: enhancement, server, gui

#1515 Index on "finished" + "username".
  server/utils/create_indexes.py
Labels: enhancement, server

#1514 Link on test page to list of events related to run.
  server/fishtest/actiondb.py
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
  server/utils/create_indexes.py
Labels: enhancement, server, gui
