Repository official-stockfish/fishtest, pull requests merged in 2022-07, with the labels that each got.

#1371 Fix broken SPSA's diff if the repo is too old
  server/fishtest/helpers.py
Labels: bug, server, gui

#1372 Use a short pagination
  server/fishtest/helpers.py
  server/fishtest/views.py
Labels: enhancement, server, gui

#1374 Make sure to import the local expression package.
  worker/packages/__init__.py
  worker/worker.py
Labels: bug, worker

#1380 Github diff buttons
  server/fishtest/static/css/application.css
  server/fishtest/static/css/theme.dark.css
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1376 Cards for cores, nps...
  server/fishtest/static/css/application.css
  server/fishtest/static/css/theme.dark.css
  server/fishtest/templates/tests.mak
Labels: enhancement, server, gui

#1369 Try a backup copy if the downloaded cutechess-cli is not working.
  worker/games.py
  worker/updater.py
  worker/worker.py
Labels: enhancement, worker

#1384 Properly initialize spsa wld.
  worker/games.py
Labels: bug, worker

#1386 Catch possible naked exception when checking worker version.
  worker/worker.py
Labels: enhancement, worker

#1382 Update forms
  server/fishtest/static/css/theme.dark.css
  server/fishtest/templates/actions.mak
  server/fishtest/templates/sprt_calc.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/templates/user.mak
Labels: enhancement, server, gui

#1389 Fix bug in help message.
  worker/worker.py
Labels: bug, worker

#1392 New SPRT bounds
  server/fishtest/templates/base.mak
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server
