Repository official-stockfish/fishtest, pull requests merged in 2022-09, with the labels that each got.

#1400 try: except: block to catch recent "FileNotFoundError".
  worker/games.py
Labels: enhancement, worker

#1410 Catch exception when the call to os.path.getmtime fails.
  worker/games.py
Labels: enhancement, worker

#1403 Toggle password visibility
  server/fishtest/static/js/toggle_password.js
  server/fishtest/templates/login.mak
  server/fishtest/templates/signup.mak
  server/fishtest/templates/user.mak
Labels: enhancement, server, gui

#1402 Automatic default theme
  server/fishtest/static/js/application.js
  server/fishtest/templates/base.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1411 Unnest some try and improve a bare except
  worker/games.py
Labels: worker, refactoring

#1401 Tests run redesign
  server/fishtest/static/css/application.css
  server/fishtest/static/css/theme.dark.css
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server, gui

#1413 Clean up some utils scripts
  server/utils/clone_fish.py
  server/utils/compact_actions.py
  server/utils/create_indexes.py
  server/utils/create_pgndb.py
  server/utils/current.py
  server/utils/index_pending.py
  server/utils/test_queries.py
Labels: server, refactoring

#1414 Various style changes
  server/fishtest/static/css/application.css
  server/fishtest/static/css/theme.dark.css
  server/fishtest/templates/run_table.mak
Labels: enhancement, server, gui

#1415 Progression tests presets vs SF15
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server, gui

#1406 Make sure Back button reloads the tests page
  server/fishtest/templates/base.mak
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server, gui

#1418 Fix deprecated pymongo
  server/fishtest/views.py
Labels: server, update

#1417 Update "delta_update_users.py"
  server/utils/delta_update_users.py
Labels: server, python 3, refactoring

#1419 Use pymongo 4.x
  server/setup.py
Labels: server, update

#1416 Progression tests v2
  server/fishtest/templates/tests_run.mak
Labels: server, gui, refactoring

#1420 Redirect to home in /login and /signup if already logged in
  server/fishtest/views.py
Labels: enhancement, server, gui

#1422 Progression tests presets v3
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server, gui

#1423 Adapt to new MDN standard with explicit SameSite
  server/fishtest/static/js/application.js
  server/fishtest/templates/nns.mak
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/tests.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1426 NN repo search and pagination and pagination template
  server/fishtest/rundb.py
  server/fishtest/templates/nns.mak
  server/fishtest/templates/pagination.mak
  server/fishtest/templates/run_table.mak
  server/fishtest/views.py
Labels: enhancement, server, gui
