Repository official-stockfish/fishtest, pull requests merged in 2022-05, with the labels that each got.

#1343 Dark style for Live Elo Gauges
  server/fishtest/static/css/theme.dark.css
  server/fishtest/static/js/live_elo.js
Labels: enhancement, server, gui

#1342 Refactoring of get_flag code
  server/fishtest/api.py
Labels: server, refactoring

#1348 Split cookie text on first "=" occurrence
  server/fishtest/util.py
Labels: bug, server

#1341 Delete deprecated code in the worker.
  worker/worker.py
Labels: enhancement, worker

#1349 Refine memory estimate
  server/fishtest/rundb.py
Labels: bug, server

#1352 Preserve the first 8 characters of the uuid across restarts and make them user settable.
  server/fishtest/util.py
  worker/worker.py
Labels: enhancement, worker
