Repository official-stockfish/fishtest, pull requests merged in 2022-02, with the labels that each got.

#1269 Earlier validation of `--concurrency` and `--max_memory`.
  worker/worker.py
Labels: enhancement, worker

#1270 Some cosmetics in option handling.
  worker/worker.py
Labels: bug, enhancement, worker

#1271 Fix info not showing in smaller screens
  server/fishtest/static/css/application.css
Labels: enhancement, server

#1273 Fix for non-wrapping info window.
  server/fishtest/static/css/application.css
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1276 Remember Show/Hide status for 10 years.
  server/fishtest/static/js/application.js
  server/fishtest/templates/run_table.mak
Labels: enhancement, server, gui

#1272 Style changes and W3
  server/fishtest/static/css/application.css
  server/fishtest/static/css/theme.dark.css
  server/fishtest/templates/base.mak
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/templates/users.mak
Labels: enhancement, server, gui

#1277 Made some pages responsive
  server/fishtest/static/css/live_elo.css
  server/fishtest/static/html/SPRTcalculator.html
  server/fishtest/static/html/live_elo.html
  server/fishtest/templates/tests_stats.mak
Labels: enhancement, server, gui

#1278 Fix cursor positioning in the SPRT calculator
  server/fishtest/static/html/SPRTcalculator.html
Labels: bug, server, gui

#1279 Make the graphs in the SPRTcalculator responsive (dav1312).
  server/fishtest/__init__.py
  server/fishtest/static/html/SPRTcalculator.html
  server/fishtest/static/js/calc.js
  server/fishtest/templates/base.mak
Labels: bug, server, gui

#1281 Update the entry_points for setuptools 60.9.0
  server/setup.py
Labels: server, update

#1282 Safety check when asking for new spsa parameters.
  worker/games.py
Labels: enhancement, worker

#1283 Login and register redesign
  server/fishtest/static/css/application.css
  server/fishtest/templates/login.mak
  server/fishtest/templates/signup.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1285 User Administration redesign
  server/fishtest/static/css/application.css
  server/fishtest/static/css/theme.dark.css
  server/fishtest/templates/login.mak
  server/fishtest/templates/signup.mak
  server/fishtest/templates/user.mak
Labels: enhancement, server, gui

#1287 Less strict choice of tc_limit multiplier.
  worker/games.py
Labels: enhancement, worker

#1286 Compatibility fix for Python 3.4.
  worker/games.py
Labels: bug, worker

#1289 Add PairsRatio to elo_result gauge for NumGames
  server/fishtest/templates/elo_results.mak
Labels: enhancement, server, gui

#1290 Little code clean up for mako templates
  server/fishtest/templates/tests_stats.mak
  server/fishtest/templates/tests_view.mak
Labels: server, refactoring

#1291 Add nElo to elo_result gauge for NumGames
  server/fishtest/templates/elo_results.mak
Labels: enhancement, server, gui

#1292 Improve elo_results gauge text format
  server/fishtest/templates/elo_results.mak
Labels: enhancement, server, gui
