Repository official-stockfish/fishtest, pull requests merged in 2023-04, with the labels that each got.

#1576 itp: remove malus for bad LLR
  server/fishtest/rundb.py
Labels: enhancement, server

#1545 Use better estimation for remaining hours calculation.
  server/fishtest/util.py
Labels: enhancement, server, gui

#1618 Use country code produced from nginx side
  server/fishtest/api.py
  server/fishtest/userdb.py
  server/tests/test_api.py
  server/utils/create_indexes.py
Labels: enhancement, server, gui

#1619 Update notifications.js
  server/fishtest/static/js/notifications.js
Labels: enhancement, server, gui

#1623 Do not sort the unfinished_runs index by last_updated.
  server/utils/create_indexes.py
Labels: enhancement, server, scaling

#1616 Unfollowed test before trying to delete or stop.
  server/fishtest/static/js/notifications.js
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/tests_view.mak
Labels: bug, server, gui

#1626 Unsubscribe from stopped and deleted tests.
  server/fishtest/static/js/notifications.js
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, scaling, gui

#1600 A hand-written deep copy avoiding copying some very large lists
  server/fishtest/api.py
Labels: enhancement, server, scaling

#1633 Adjust batch size for SPRT tests.
  server/fishtest/views.py
Labels: enhancement, server, scaling

#1637 Fix illegible batch size calc
  server/fishtest/views.py
Labels: server, refactoring

#1638 Fix mongodb monitoring url
  server/fishtest/templates/base.mak
Labels: server, gui, update

#1647 Better fix for #1641.
  server/fishtest/rundb.py
Labels: bug, server

#1648 Avoid Useless calculations for /tests_user pages
  server/fishtest/rundb.py
Labels: enhancement, server, gui

#1640 Handle wrong page params.
  server/fishtest/views.py
Labels: bug, server, gui

#1649 Revert "Avoid Useless calculations for /tests_user pages"
  server/fishtest/rundb.py
Labels: bug, server

#1639 Dismiss fallback notifications in all tabs with one click.
  server/fishtest/static/js/notifications.js
  server/fishtest/templates/base.mak
Labels: enhancement, server, gui

#1650 Regularly purge stale notifications.
  server/fishtest/static/js/notifications.js
Labels: enhancement, server, gui
