Repository official-stockfish/fishtest, pull requests merged in 2023-08, with the labels that each got.

#1733 no overwrite for the first approver
  server/fishtest/rundb.py
  server/fishtest/views.py
Labels: enhancement, server, gui

#1742 Introduce Calculate Elo API for external use.
  server/fishtest/__init__.py
  server/fishtest/api.py
Labels: enhancement, server

#1675 Enhance finished_runs
  server/fishtest/rundb.py
  server/fishtest/views.py
Labels: enhancement, server

#1756 Update links to Stockfish Organization: server
  README.md
  server/fishtest/static/css/application.css
  server/fishtest/templates/base.mak
  server/fishtest/templates/nn_upload.mak
  server/fishtest/templates/sprt_calc.mak
  server/fishtest/templates/tests_run.mak
Labels: server, update

#1758 Add run_id to a few messages
  server/fishtest/rundb.py
Labels: enhancement, server, gui

#1759 Try to avoid workers with the same name.
  server/fishtest/rundb.py
  server/tests/test_api.py
Labels: enhancement, server

#1761 Replace deprecated `datetime.datetime.utcnow()`
  server/fishtest/actiondb.py
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/userdb.py
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_api.py
  server/tests/test_rundb.py
  server/tests/test_users.py
  server/utils/convert_actions.py
  server/utils/delta_update_users.py
  server/utils/purge_pgn.py
  server/utils/upgrade.py
  worker/games.py
  worker/sri.txt
  worker/updater.py
  worker/worker.py
Labels: worker update, wip, update

#1762 Fix a small bug. Add a comment.
  server/fishtest/rundb.py
Labels: bug, server

#1767 Add dynamic info box as well.
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server, gui

#1768 Fix event listeners are not removing.
  server/fishtest/templates/tests_run.mak
Labels: bug, server, gui

#1769 Refine some tables.
  server/fishtest/templates/actions.mak
  server/fishtest/templates/nns.mak
  server/fishtest/templates/pending.mak
  server/fishtest/templates/users.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1766 Some html fixes.
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server

#1771 Replace deprecated `distutils` package
  server/fishtest/api.py
  worker/sri.txt
  worker/updater.py
  worker/worker.py
Labels: enhancement, worker update, update

#1772 Prefer the stateless approach over the stateful one for submitting te…
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server, gui

#1773 Add log message to #1759.
  server/fishtest/rundb.py
Labels: enhancement, server

#1775 Refactor #1759 slightly and add a unittest.
  server/fishtest/rundb.py
  server/fishtest/util.py
  server/tests/test_api.py
Labels: server, refactoring

#1776 send full commit SHAs to cutechess-cli
  AUTHORS
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update
