Repository official-stockfish/fishtest, pull requests merged in 2023-10, with the labels that each got.

#1825 Retire temporary conversion code from zlib to gzip
  server/fishtest/rundb.py
Labels: server, update

#1826 Fix some flake8 warnings
  server/fishtest/rundb.py
  server/fishtest/util.py
  server/fishtest/views.py
  server/fishtest/workerdb.py
Labels: server, refactoring

#1819 fix double cutechess verification
  server/fishtest/api.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#1828 Switch to strict parsing of worker api's.
  server/fishtest/api.py
  server/tests/test_api.py
Labels: enhancement, server

#1832 Enhance pagination.
  server/fishtest/views.py
Labels: enhancement, server, gui

#1835 Fix android bug
  server/fishtest/static/js/calc.js
  server/fishtest/templates/sprt_calc.mak
Labels: bug, server, gui

#1834 VLTC test presets
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server, gui

#1837 New default book for tests
  server/fishtest/templates/tests_run.mak
Labels: server, update

#1833 Introduce finished runs API
  server/fishtest/__init__.py
  server/fishtest/api.py
  server/fishtest/rundb.py
Labels: enhancement, server
