Repository official-stockfish/fishtest, pull requests merged in 2023-07, with the labels that each got.

#1738 Update Progression tests base to Stockfish 16.
  server/fishtest/rundb.py
Labels: server, gui, update

#1739 Adjust settings for the SMP PT
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server, gui

#1743 Fix design overflow issue.
  server/fishtest/static/css/application.css
  server/fishtest/templates/tests_view.mak
Labels: bug, server, gui

#1744 Remove Use NNUE which is no longer an option in master SF
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server, gui

#1745 Fix overflow on both mobile and desktop
  server/fishtest/static/css/application.css
  server/fishtest/templates/tests_view.mak
Labels: bug, server, gui

#1746 Set the SF16 pure NNUE reference nps wrt SF11
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/utils/delta_update_users.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, update

#1748 Fix server error in modify.
  server/fishtest/views.py
Labels: bug, server, gui
