Repository official-stockfish/fishtest, pull requests merged in 2023-09, with the labels that each got.

#1777 First shot at worker blocking.
  server/fishtest/__init__.py
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/static/css/application.css
  server/fishtest/templates/actions.mak
  server/fishtest/templates/base.mak
  server/fishtest/templates/machines.mak
  server/fishtest/templates/workers.mak
  server/fishtest/views.py
  server/fishtest/workerdb.py
  server/utils/create_indexes.py
Labels: enhancement, server, gui

#1779 Workers page and icon
  server/fishtest/static/css/application.css
  server/fishtest/templates/user.mak
  server/fishtest/templates/workers.mak
Labels: enhancement, server, gui

#1780 Wrap worker block message.
  server/fishtest/rundb.py
  server/fishtest/views.py
Labels: enhancement, server

#1782 Avoid saving the host_url in the db with every task.
  server/fishtest/api.py
  server/fishtest/rundb.py
Labels: enhancement, server

#1778 some views fixes
  server/fishtest/templates/tests.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server

#1783 Simplify page redirection after required login
  server/fishtest/views.py
Labels: server, refactoring

#1784 Remember query strings
  server/fishtest/views.py
Labels: server, gui, refactoring

#1785 Update DB names in backup script
  server/utils/backup.sh
Labels: server, update

#1787 Chase the cause of some strange failures using longer error messages.
  worker/games.py
  worker/sri.txt
Labels: bug, enhancement, worker update

#1788 Add worker version to message for uncaught exception.
  server/fishtest/api.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#1790 Fix wrong DOM selector
  server/fishtest/templates/tests.mak
Labels: bug, server, gui

#1791 Create a purge_run event for "Auto purge".
  server/fishtest/actiondb.py
  server/fishtest/rundb.py
  server/fishtest/views.py
Labels: enhancement, server, gui

#1793 Update cdn's versions.
  server/fishtest/static/css/application.css
  server/fishtest/templates/base.mak
  server/fishtest/templates/tests_view.mak
Labels: server, gui, update

#1794 fix links colors on hover as well
  server/fishtest/static/css/application.css
Labels: server, gui, update

#1795 Retire MongoDB free cloud monitoring
  server/fishtest/static/css/application.css
  server/fishtest/templates/base.mak
Labels: server, gui, update

#1797 Add a schema to userdb.
  server/fishtest/userdb.py
Labels: enhancement, server

#1800 Update book to UHO_4060_v3
  server/fishtest/static/js/spsa_new.js
  server/fishtest/templates/tests_run.mak
  server/fishtest/util.py
Labels: server, update

#1799 Add mailto links to worker management.
  server/fishtest/templates/workers.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1808 Clamp to 500 chars the worker issue message
  server/fishtest/views.py
Labels: enhancement, server, gui

#1810 Use the native target if available in SF
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, update

#1811 Various validation fixes.
  server/fishtest/userdb.py
  server/fishtest/util.py
  server/tests/test_validate.py
Labels: enhancement, server

#1815 Tighten up parsing of "Finished game" lines in cutechess-cli output.
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#1816 Merge cutechess-cli stdout and stderr inside the worker instead of relying on Python to do it
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: bug, worker update

#1802 cleanup the cutechess setup code
  server/fishtest/api.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, refactoring

#1820 Create block_worker event to have an audit trail.
  server/fishtest/actiondb.py
  server/fishtest/templates/actions.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1821 Bugfix in worker management.
  server/fishtest/templates/workers.mak
Labels: bug, server, gui
