Repository official-stockfish/fishtest, pull requests merged in 2023-05, with the labels that each got.

#1653 Use timer instead of counter for purging stale notifications.
  server/fishtest/static/js/notifications.js
Labels: bug, server, gui

#1654 Speedup in tests_view for long list of tasks
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1657 Alleviate race in stale notifications purging.
  server/fishtest/static/js/notifications.js
Labels: enhancement, server, gui

#1594 Increase itp if game count > 200k.
  server/fishtest/rundb.py
Labels: enhancement, server, scaling

#1663 Inject tasks.
  server/fishtest/__init__.py
  server/fishtest/templates/tasks.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1664 Extra defense against race after wake up from sleep.
  server/fishtest/static/js/application.js
  server/fishtest/static/js/notifications.js
Labels: enhancement, server, gui

#1669 Avoid logging a frequent, expected event
  server/fishtest/rundb.py
Labels: enhancement, server, vps

#1674 Add a bit of randomness to current_time.
  server/fishtest/static/js/notifications.js
Labels: enhancement, server, gui

#1673 Fix api_active_runs
  server/fishtest/api.py
Labels: enhancement, server

#1676 More robust wake up from sleep.
  server/fishtest/static/js/application.js
  server/fishtest/static/js/notifications.js
Labels: enhancement, server, gui

#1677 Use fetch_text() from application.js instead of raw fetch.
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server

#1682 Add linters and formatters to CI
  .github/workflows/lint.yaml
Labels: enhancement

#1683 Fix some flake8 errors
  server/fishtest/actiondb.py
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/views.py
  server/tests/test_api.py
  server/tests/test_users.py
  server/utils/convert_actions.py
  server/utils/delta_update_users.py
  server/utils/upgrade.py
Labels: server, refactoring

#1684 Print flake8 statistics
  .github/workflows/lint.yaml
Labels: enhancement

#1686 Remove most console.log messages.
  server/fishtest/static/js/application.js
  server/fishtest/static/js/notifications.js
Labels: enhancement, server, gui

#1687 Add exit status to the "lint" github workflow
  .github/workflows/lint.yaml
  README.md
Labels: enhancement

#1689 Print formatting instructions on error
  .github/workflows/lint.yaml
Labels: enhancement

#1688 Rename 'tasks' route to 'tests/tasks'
  server/fishtest/__init__.py
  server/fishtest/templates/tasks.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: server, refactoring

#1671 Update results stats incrementally
  server/fishtest/rundb.py
Labels: enhancement, server, scaling

#1690 Make follow/unfollow atomic on platforms supporting web locks.
  server/fishtest/static/js/notifications.js
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1691 Format and refactor mako templates
  server/fishtest/templates/actions.mak
  server/fishtest/templates/base.mak
  server/fishtest/templates/elo_results.mak
  server/fishtest/templates/machines.mak
  server/fishtest/templates/nns.mak
  server/fishtest/templates/pagination.mak
  server/fishtest/templates/pending.mak
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/run_tables.mak
  server/fishtest/templates/tasks.mak
  server/fishtest/templates/tests.mak
  server/fishtest/templates/tests_finished.mak
  server/fishtest/templates/tests_live_elo.mak
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_stats.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/templates/user.mak
  server/fishtest/templates/users.mak
Labels: refactoring

#1692 Get mongodb monitoring url with new format
  server/fishtest/templates/base.mak
Labels: server, gui, update

#1696 Get monitoring url even for old versions of mongodb
  server/fishtest/templates/base.mak
Labels: bug, server, gui, update

#1694 Simplify html escaping in mako
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: server, refactoring

#1698 Fix wrong colors after purging.
  server/fishtest/rundb.py
Labels: bug, server, gui

#1699 Replace +- by ± in Elo output
  server/fishtest/templates/elo_results.mak
  server/fishtest/util.py
  server/fishtest/views.py
Labels: enhancement, server, gui

#1703 Fix alignment of flags
  server/fishtest/static/css/application.css
Labels: enhancement, server, gui

#1700 Some cleanups.
  server/fishtest/api.py
  server/fishtest/static/js/application.js
  server/fishtest/static/js/calc.js
  server/fishtest/templates/machines.mak
  server/fishtest/templates/tests.mak
Labels: server, refactoring

#1704 Fix workers count for no machines
  server/fishtest/templates/machines.mak
  server/fishtest/templates/tests.mak
Labels: bug, server, gui

#1701 Allow users to modify their run message.
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1705 Refine tables markup.
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/tasks.mak
  server/fishtest/templates/tests_live_elo.mak
  server/fishtest/templates/tests_stats.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1702 Rewrite "delta_update_users.py"
  server/utils/delta_update_users.py
Labels: enhancement, server, scaling, gui

#1710 Standardize usage of "last_updated" name
  server/fishtest/templates/users.mak
  server/utils/delta_update_users.py
Labels: server, refactoring

#1709 Move the diff above details.
  server/fishtest/static/css/application.css
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1713 Add cards/tiles to the users/monthly pages.
  server/fishtest/templates/users.mak
Labels: enhancement, server, gui

#1715 Adjust memory estimate
  server/fishtest/rundb.py
Labels: enhancement, server

#1716 Set slow worker threshold
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update
