Repository official-stockfish/fishtest, pull requests merged in 2023-02, with the labels that each got.

#1557 Reduce latency of LTC relative to STC
  server/fishtest/rundb.py
Labels: enhancement, server

#1561 Fix misalignment on mobile.
  server/fishtest/templates/run_table.mak
Labels: enhancement, server, gui

#1562 Add new line to big screens and temporarily change colors ltc highlig…
  server/fishtest/static/css/application.css
  server/fishtest/static/css/theme.dark.css
  server/fishtest/templates/run_table.mak
Labels: bug, enhancement, server, gui

#1564 Use get_tc_ratio more, add cache to estimate_game_duration
  server/fishtest/rundb.py
  server/fishtest/util.py
Labels: enhancement, server
