Repository official-stockfish/fishtest, pull requests merged in 2023-01, with the labels that each got.

#1516 Adapt links on the events log to the run_id parameter.
  server/fishtest/templates/actions.mak
  server/fishtest/views.py
Labels: bug, server, gui

#1517 Add a maintenance page
  server/fishtest/static/html/maintenance.html
Labels: enhancement, server

#1518 Create an api for querying the event log.
  server/fishtest/__init__.py
  server/fishtest/api.py
  server/fishtest/static/html/finished_runs.html
Labels: enhancement, server

#1519 Dbconversion to remove the opaque date and run_id types in actiondb.
  server/fishtest/actiondb.py
  server/fishtest/api.py
  server/fishtest/static/html/events.html
  server/fishtest/static/html/finished_runs.html
  server/fishtest/templates/actions.mak
  server/fishtest/views.py
  server/utils/convert_actions.py
Labels: enhancement, server

#1521 Opt-in system for notifications.
  server/fishtest/static/html/events.html
  server/fishtest/static/js/application.js
  server/fishtest/static/js/live_elo.js
  server/fishtest/static/js/notifications.js
  server/fishtest/templates/base.mak
  server/fishtest/templates/tests_live_elo.mak
Labels: enhancement, server, gui

#1523 Omit the follow button in mako template for finished tests.
  server/fishtest/static/js/notifications.js
  server/fishtest/templates/tests_live_elo.mak
Labels: bug, server, gui

#1522 Make the bootstrap notification alert fixed-top.
  server/fishtest/static/css/application.css
  server/fishtest/static/css/theme.dark.css
  server/fishtest/templates/base.mak
Labels: enhancement, server, gui

#1524 Multiple fallback notifications no longer overwrite.
  server/fishtest/static/js/notifications.js
  server/fishtest/templates/base.mak
Labels: enhancement, server, gui

#1525 Move the follow button to the main test page.
  server/fishtest/static/js/notifications.js
  server/fishtest/templates/tests_live_elo.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1526 Automatically follow tests created on the browser
  server/fishtest/static/js/notifications.js
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1528 Improve variables naming for notifications
  server/fishtest/static/css/application.css
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/run_tables.mak
Labels: server, gui, refactoring

#1530 Nonmoving double icon even at large magnification.
  server/fishtest/templates/run_tables.mak
Labels: enhancement, server, gui

#1532 Make the notification toggle disappear after a finished test.
  server/fishtest/static/js/notifications.js
  server/fishtest/templates/run_tables.mak
Labels: bug, server, gui

#1533 Cleanup and refactoring of cross tab communication.
  server/fishtest/static/js/application.js
  server/fishtest/static/js/notifications.js
  server/fishtest/templates/run_table.mak
Labels: server, gui, refactoring

#1534 Make notifications clickable.
  server/fishtest/static/js/application.js
  server/fishtest/static/js/notifications.js
  server/fishtest/templates/base.mak
Labels: enhancement, server, gui

#1535 More cleanups and refactoring.
  server/fishtest/static/js/notifications.js
  server/fishtest/templates/tests_view.mak
Labels: server, gui, refactoring

#1536 Make sure only one tab is communicating with the server.
  server/fishtest/static/js/notifications.js
Labels: enhancement, server, gui

#1540 Asynchronous network upload
  server/fishtest/views.py
Labels: enhancement, server, nnue

#1541 Handle the requests exceptions with the net server
  server/fishtest/views.py
Labels: bug, server, nnue

#1544 Give more information in notifications.
  server/fishtest/rundb.py
  server/fishtest/static/js/application.js
  server/fishtest/static/js/notifications.js
  server/fishtest/util.py
  server/fishtest/views.py
Labels: enhancement, server, gui

#1539 Open test window and give focus when clicking a native notification.
  server/fishtest/static/js/application.js
Labels: enhancement, server, gui

#1548 Partially fixes #1547
  server/fishtest/rundb.py
Labels: bug, server

#1549 Should fix the other issue mentioned in #1547
  server/fishtest/rundb.py
Labels: bug, server, gui

#1550 Record excessive crashes and time losses in the event log.
  server/fishtest/actiondb.py
  server/fishtest/rundb.py
  server/fishtest/templates/actions.mak
Labels: enhancement, server, gui

#1553 Fix blue showing as red
  server/fishtest/rundb.py
  server/fishtest/static/js/notifications.js
Labels: bug, server, gui

#1555 Fix spsa tunes show as `was undefined` in notifications and some clea…
  server/fishtest/static/js/notifications.js
  server/fishtest/templates/base.mak
Labels: bug, server, gui
