Repository official-stockfish/fishtest, pull requests merged in 2023-12, with the labels that each got.

#1847 Silence passing unit tests during CI.
  .github/workflows/server.yaml
Labels: enhancement

#1841 Small cleanups in the run db.
  server/fishtest/rundb.py
  server/fishtest/views.py
  server/tests/test_api.py
Labels: enhancement, server

#1840 Fix bench extraction
  server/fishtest/views.py
Labels: enhancement, server

#1855 Bump actions/setup-python
  .github/workflows/lint.yaml
  .github/workflows/server.yaml
  .github/workflows/worker_posix.yaml
Labels: update

#1854 Tighten up the schema in api.py.
  server/fishtest/api.py
  server/tests/test_api.py
  server/tests/test_rundb.py
Labels: enhancement, server, server rebuild

#1805 Separate pending users from blocked users
  server/fishtest/__init__.py
  server/fishtest/actiondb.py
  server/fishtest/static/css/application.css
  server/fishtest/templates/actions.mak
  server/fishtest/templates/base.mak
  server/fishtest/templates/contributors.mak
  server/fishtest/templates/sprt_calc.mak
  server/fishtest/templates/user.mak
  server/fishtest/templates/user_management.mak
  server/fishtest/userdb.py
  server/fishtest/views.py
  server/tests/test_api.py
  server/tests/test_users.py
Labels: enhancement, server, gui

#1856 Fix inconsistent <td> widths.
  server/fishtest/templates/base.mak
  server/fishtest/templates/user_management.mak
Labels: enhancement, server, gui

#1857 Fix width also when table has not data
  server/fishtest/templates/user_management.mak
Labels: enhancement, server, gui

#1853 Remove some dead code in tests_modify (views.py).
  server/fishtest/views.py
Labels: enhancement, server

#1822 Prevent same email registration.
  server/fishtest/userdb.py
  server/fishtest/views.py
Labels: enhancement, server

#1803 Use Git trees to look for books
  server/fishtest/views.py
Labels: enhancement, server

#1859 Make it possible to reject users before accepting them
  server/fishtest/templates/user.mak
  server/fishtest/userdb.py
  server/fishtest/views.py
Labels: enhancement, server, gui, dev test

#1860 Make blocking and unblocking one button instead of a checkbox
  server/fishtest/templates/user.mak
  server/fishtest/views.py
Labels: enhancement, gui, dev test

#1862 Add multiple nets support to the worker
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, update

#1863 Log out from other tabs.
  server/fishtest/static/js/application.js
Labels: enhancement, server, gui, dev test

#1866 Convenient link to blocked workers
  server/fishtest/templates/tasks.mak
Labels: enhancement, server, gui, dev test

#1867 Implement client filtering.
  server/fishtest/static/js/application.js
  server/fishtest/templates/contributors.mak
  server/fishtest/views.py
Labels: enhancement, server, gui, dev test

#1869 Improve bench regex pattern
  server/tests/test_run.py
Labels: bug, server
