Repository official-stockfish/fishtest, pull requests merged in 2023-06, with the labels that each got.

#1719 Fix and improve delta_update_users.py
  server/utils/delta_update_users.py
Labels: bug, enhancement, server

#1720 Speed up "purge_pgn.py"
  server/utils/purge_pgn.py
Labels: enhancement, server

#1726 Add pentanomial to live elo table.
  server/fishtest/static/js/live_elo.js
  server/fishtest/templates/tests_live_elo.mak
Labels: enhancement, server, gui

#1730 Fix deleted runs are not shown if restored.
  server/fishtest/views.py
Labels: server

#1729 Consistent bench extraction with CI
  server/fishtest/views.py
Labels: enhancement, server

#1735 Set the SF16 reference Nps using SF11 as base
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/utils/delta_update_users.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, update

#1736 Prepare Fishtest for Stockfish 16 release.
  server/fishtest/static/css/application.css
  server/fishtest/static/js/spsa_new.js
  server/fishtest/templates/base.mak
  server/fishtest/templates/tests_run.mak
  server/fishtest/util.py
Labels: enhancement, server, gui, update
