Repository official-stockfish/fishtest, pull requests merged in 2024-07, with the labels that each got.

#2093 Introduce `min_delay` parameter for `create_task`.
  server/fishtest/rundb.py
  server/fishtest/util.py
Labels: enhancement, server, scaling

#2092 Do not hold on to the run_cache_lock while writing to the db.
  server/fishtest/rundb.py
Labels: enhancement, server, scaling

#2090 Make new_run return a string instead of an ObjectId.
  server/fishtest/rundb.py
Labels: enhancement, server

#2097 return 404 if a non-sprt run_id is abused to be used in a live_elo link
  server/fishtest/views.py
Labels: enhancement, server, gui

#2099 Explicitly declare some schema fields as posix timestamps.
  server/fishtest/schemas.py
Labels: enhancement, server

#2100 Fully initialize the rundb object before starting tasks.
  server/fishtest/__init__.py
Labels: enhancement, server

#2068 Introduce a worker global cache
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update, scaling

#1913 consistent "LTC:" addition
  server/fishtest/util.py
  server/fishtest/views.py
Labels: enhancement, server, gui

#2098 fix https://github.com/official-stockfish/fishtest/issues/2095 by cha…
  server/fishtest/static/js/application.js
  server/fishtest/templates/tests.mak
Labels: enhancement, server, gui

#2071 Do not put results_info in the db.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
  server/fishtest/templates/elo_results.mak
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_api.py
Labels: enhancement, server

#2108 Raise pserve threads and semaphores
  server/fishtest/rundb.py
  server/production.ini
Labels: server, scaling
