Repository official-stockfish/fishtest, pull requests merged in 2024-06, with the labels that each got.

#2030 Do not evict a run from the cache which has active tasks.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
Labels: enhancement, server

#2045 Add `run["finished"]=True` to `set_inactive_run()`.
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/views.py
Labels: enhancement, server

#2046 Only validate unfinished cache runs
  server/fishtest/rundb.py
Labels: enhancement, server

#2047 Bug fix for #2030
  server/fishtest/rundb.py
Labels: bug, server

#2048 Split `flush_buffers()`
  server/fishtest/rundb.py
Labels: bug, enhancement, server

#2056 Enhancement of validation.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
Labels: enhancement, server, server rebuild

#2058 Retire `self.update_itp_task.schedule_now()`.
  server/fishtest/rundb.py
  server/fishtest/views.py
Labels: enhancement, server, scaling

#2061 Fix for #2060.
  server/fishtest/rundb.py
Labels: bug, server

#2062 Optimize the construction of the main page a little bit.
  server/fishtest/rundb.py
Labels: enhancement, server

#2085 Fix flake8 errors/warnings
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/views.py
Labels: bug, server

#2070 Periodically validate Fishtest's internal data structures.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
Labels: enhancement, server, server rebuild

#2069 Introduce compute_flags() and validate them.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
  server/fishtest/util.py
Labels: enhancement, server

#2075 Show approvers to user management
  server/fishtest/templates/user.mak
  server/fishtest/templates/user_management.mak
  server/fishtest/util.py
  server/fishtest/views.py
Labels: enhancement, server, gui

#2087 Fix wrong inner quotation in text
  server/fishtest/views.py
Labels: bug, server

#2031 Link back from user's tests page to their profile page for approvers
  server/fishtest/templates/tests_user.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server, gui
