Repository official-stockfish/fishtest, pull requests merged in 2024-02, with the labels that each got.

#1896 Fix the msys2 worker workflow
  .github/workflows/worker_msys2.yaml
  .github/workflows/worker_posix.yaml
  server/fishtest/rundb.py
  server/fishtest/stats/LLRcalc.py
  server/fishtest/views.py
  worker/games.py
  worker/sri.txt
  worker/tests/test_worker.py
Labels: worker update, update

#1871 In make: put stdout=None, shell=False.
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: bug, worker update

#1870 Generalize the EvalFile net option detection
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, update

#1868 Assorted cleanup.
  server/fishtest/static/html/maintenance.html
  server/fishtest/static/js/application.js
  server/fishtest/static/js/calc.js
  server/fishtest/static/js/live_elo.js
  server/fishtest/static/js/notifications.js
  server/fishtest/static/js/spsa.js
  server/fishtest/static/js/spsa_new.js
  server/fishtest/templates/actions.mak
  server/fishtest/templates/base.mak
  server/fishtest/templates/contributors.mak
  server/fishtest/templates/login.mak
  server/fishtest/templates/nn_upload.mak
  server/fishtest/templates/nns.mak
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/signup.mak
  server/fishtest/templates/sprt_calc.mak
  server/fishtest/templates/tests.mak
  server/fishtest/templates/tests_finished.mak
  server/fishtest/templates/tests_live_elo.mak
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_stats.mak
  server/fishtest/templates/tests_user.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/templates/user.mak
  server/fishtest/templates/user_management.mak
  server/fishtest/templates/workers.mak
Labels: server, refactoring

#1876 Make the meaning of some strings in the schemas explicit.
  server/fishtest/actiondb.py
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/workerdb.py
Labels: enhancement, server

#1885 Remove the fish.exit file after the worker has stopped.
  server/fishtest/api.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#1901 Update comment about APIs rely on get_run()
  server/fishtest/api.py
Labels: refactoring

#1899 Fix tables overflows
  server/fishtest/static/css/application.css
  server/fishtest/templates/machines.mak
  server/fishtest/templates/run_table.mak
  server/fishtest/templates/tests.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1904 Improve comment
  server/fishtest/api.py
Labels: refactoring

#1902 Add multiple nets support to the server
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/views.py
  server/tests/test_api.py
  server/tests/test_rundb.py
Labels: bug, server, gui, update
