Repository official-stockfish/fishtest, pull requests merged in 2024-03, with the labels that each got.

#1886 handle logout fail
  server/fishtest/static/css/theme.dark.css
  server/fishtest/static/js/application.js
  server/fishtest/templates/base.mak
Labels: enhancement, server, gui

#1887 Require writing old password for changing user info.
  server/fishtest/templates/user.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1895 Don't hide "non-tested" nets for logged out users
  server/fishtest/rundb.py
  server/fishtest/views.py
Labels: enhancement, server, gui

#1906 Introduce log_message action.
  server/fishtest/actiondb.py
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/templates/actions.mak
  server/fishtest/userdb.py
Labels: enhancement, server

#1908 Benches both engines prior to raise a RunException
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#1909 Avoid links for fishtest.system user
  server/fishtest/templates/actions.mak
Labels: bug, server, gui
