Repository official-stockfish/fishtest, pull requests merged in 2024-05, with the labels that each got.

#1936 Avoid timeouts for GitHub diffs
  server/fishtest/templates/tests_view.mak
  server/fishtest/templates/user.mak
Labels: enhancement, server, gui

#1975 Fix GitHub tokens instructions
  server/fishtest/templates/user.mak
Labels: enhancement, server, gui

#1977 Do not touch task["last_updated"] in tests_view.
  server/fishtest/views.py
Labels: server, refactoring

#1978 Log long worker names when rejecting a duplicate worker name.
  server/fishtest/rundb.py
Labels: enhancement, server

#1979 Do not flag a worker as a duplicate of itself.
  server/fishtest/rundb.py
  server/tests/test_api.py
Labels: bug, server

#1981 Use conventional cls for @classmethod
  server/tests/test_api.py
Labels: refactoring

#1984 Drop hardcoded routes in APIs
  server/fishtest/api.py
  server/tests/test_api.py
Labels: server, refactoring

#1988 Smarten Live Elo
  server/fishtest/static/js/live_elo.js
Labels: enhancement, server, gui

#1989 Show up-to-date result when opening the live elo tab after delay.
  server/fishtest/static/js/live_elo.js
Labels: bug, server, gui

#1986 fall back to the three dot in case of PTs
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#1980 Enhance UX for creating tests.
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server, gui

#1985 Make validate_request work on non-primary instances.
  server/fishtest/api.py
  server/fishtest/rundb.py
Labels: enhancement, server, scaling

#1992 Extend `get_run()` to support secondary instances
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/templates/tests_run.mak
Labels: server, refactoring

#1997 Verify that `run_id` is a compatible `ObjectdID`
  server/fishtest/rundb.py
Labels: bug, server

#1998 Validate run_id with ObjectId.is_valid in api_schema.
  server/fishtest/schemas.py
Labels: enhancement, server

#2001 Get port and primary_port from the config files development.ini and production.ini (RFC)
  server/development.ini
  server/fishtest/__init__.py
  server/fishtest/rundb.py
  server/production.ini
Labels: server, refactoring

#2000 Clean refactoring of api.py.
  server/fishtest/api.py
  server/fishtest/util.py
  server/tests/test_api.py
Labels: server, refactoring

#2005 Fix some capitalization
  README.md
Labels: enhancement

#2008 Store STC runs only for 1day
  server/utils/purge_pgn.py
Labels: server, update

#2002 Refactoring: handle all errors in api.py using handle_error.
  server/fishtest/api.py
Labels: server, refactoring

#2016 Set semaphore to 2 for "request_task" API
  server/fishtest/rundb.py
  server/production.ini
  server/setup.py
Labels: enhancement, server

#1660 Introduce a signal handler for printing thread stack traces
  server/fishtest/__init__.py
Labels: enhancement, server

#2017 Fix missing run_id variable
  server/fishtest/api.py
Labels: bug, server

#2013 Make buffer() a noop on a non-primary instance.
  server/fishtest/rundb.py
Labels: enhancement, server

#2010 Fully dynamic updates of run["cores"] and run["workers"] (RFC)
  server/fishtest/__init__.py
  server/fishtest/rundb.py
  server/fishtest/views.py
Labels: enhancement, server, scaling

#2020 Use active_run_lock(run) to protect updates of aggregated data.
  server/fishtest/rundb.py
Labels: enhancement, server

#2021 Do not assign a task for a finished run.
  server/fishtest/rundb.py
Labels: enhancement, server

#2019 Send an info message to worker if server too busy.
  server/fishtest/rundb.py
Labels: enhancement, server

#2024 Set days_ltc in clear way and rename script
  server/utils/purge_pgns.py
Labels: enhancement, server, vps

#2023 Give warning for (TP,Prio) exceeds the normal limits
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#2022 Danger alert for mismatching options
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#2018 Require confirmation before rejecting users
  server/fishtest/templates/user.mak
Labels: enhancement, server, gui

#2028 This adds a 404 page
  server/fishtest/templates/notfound.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#2032 Show more info about user and in profile
  server/fishtest/templates/signup.mak
  server/fishtest/templates/user.mak
  server/fishtest/userdb.py
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_api.py
  server/tests/test_users.py
Labels: enhancement, server, gui

#1982 Use "failed_task" api to flag a stale active task.
  server/fishtest/rundb.py
Labels: enhancement, server

#2034 Drop not used imports
  server/fishtest/rundb.py
  server/fishtest/util.py
  server/fishtest/views.py
Labels: server, refactoring

#2039 Document the format of the cache in schemas.py.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
Labels: enhancement, server, server rebuild

#2035 Force c>0, c_end>0 in the schema.
  server/fishtest/schemas.py
Labels: enhancement, server, server rebuild

#2044 Refactor minimum requirement version for compiler and add logic to clang
  server/fishtest/api.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update, update

#2038 Warn about too low hash values/tc_ratio
  server/fishtest/helpers.py
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui
