Repository official-stockfish/fishtest, pull requests merged in 2024-04, with the labels that each got.

#1921 Correct regexes for short and long workernames.
  server/fishtest/actiondb.py
  server/fishtest/workerdb.py
Labels: bug, server

#1917 Revert "Make "This machines is too slow ..." non-fatal."
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#1916 Move all schemas to a single file schemas.py
  server/fishtest/actiondb.py
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/schemas.py
  server/fishtest/userdb.py
  server/fishtest/views.py
  server/fishtest/workerdb.py
  server/tests/test_api.py
  server/tests/test_nn.py
  server/tests/test_rundb.py
Labels: enhancement, server, refactoring

#1925 Mitigate Python 3.12 Shutdown RuntimeError
  server/fishtest/rundb.py
Labels: bug, server, update

#1918 View actual git diff in tests_view
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1928 Versioning the run object.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
Labels: enhancement, server

#1927 Enhancements of tests diff
  server/fishtest/rundb.py
  server/fishtest/schemas.py
  server/fishtest/templates/base.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
  server/tests/test_api.py
  server/tests/test_rundb.py
Labels: enhancement, server, gui

#1930 Improve the action schema.
  server/fishtest/actiondb.py
  server/fishtest/schemas.py
Labels: enhancement, server

#1932 Fix a bug in diffs
  server/fishtest/static/js/application.js
  server/fishtest/templates/tests_view.mak
Labels: bug, server, gui, dev test

#1910 Dropdown menu for users management
  server/fishtest/static/css/application.css
  server/fishtest/templates/user_management.mak
  server/fishtest/views.py
Labels: enhancement, server, gui, dev test

#1911 Add menu for blocked workers
  server/fishtest/static/js/application.js
  server/fishtest/templates/contributors.mak
  server/fishtest/templates/workers.mak
Labels: enhancement, server, gui, dev test

#1934 Validate modify_test requests against bad requests
  server/fishtest/views.py
Labels: enhancement, server, dev test

#1935 Require another approval to increase priority/throughput beyond limits
  server/fishtest/views.py
Labels: enhancement, server, gui

#1938 Message in event log if a run is unapproved. For audit trail.
  server/fishtest/actiondb.py
  server/fishtest/schemas.py
  server/fishtest/views.py
Labels: enhancement, server, gui

#1939 Revert "Mitigate Python 3.12 Shutdown RuntimeError"
  server/fishtest/rundb.py
Labels: bug, server, update

#1940 Use python 3.12 in GitHub Actions
  .github/workflows/lint.yaml
  .github/workflows/server.yaml
Labels: update

#1892 add fixed games to the calc_elo API
  server/fishtest/api.py
Labels: enhancement, server

#1941 Tighten the runs schema by exhibiting dependencies between flags.
  server/fishtest/schemas.py
  server/fishtest/views.py
Labels: enhancement, server

#1943 Fix flake8 errors and warnings
  server/fishtest/actiondb.py
  server/fishtest/userdb.py
  server/fishtest/views.py
  server/fishtest/workerdb.py
  server/tests/test_nn.py
Labels: bug, server, refactoring

#1945 Make PyMongo timezone-aware
  server/fishtest/rundb.py
  server/fishtest/schemas.py
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_nn.py
  server/utils/delta_update_users.py
  server/utils/purge_pgn.py
Labels: enhancement, server

#1946 Enforce tzinfo=timezone.utc in the schemas.
  server/fishtest/schemas.py
Labels: enhancement, server, server rebuild

#1952 Tidy up the code
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/userdb.py
  server/fishtest/util.py
  server/fishtest/views.py
Labels: server, refactoring

#1953 Fix typo in dict key
  server/fishtest/api.py
Labels: bug, server

#1951 Small tightenings of the schemas.
  server/fishtest/schemas.py
Labels: enhancement, server

#1954 Use macos13 runner in CI
  .github/workflows/worker_posix.yaml
Labels: update

#1955 Implement bulk streaming of tasks PGNs for a run
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/util.py
Labels: enhancement, server

#1957 Add "Content-Length" header for run PGN
  server/fishtest/api.py
  server/fishtest/rundb.py
Labels: enhancement, server

#1959 Improve the queries of the run PGNs
  server/fishtest/rundb.py
Labels: enhancement, server

#1960 Use size data for single PGN download
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/tests/test_api.py
Labels: enhancement, server

#1961 Use a regex in query to purge PGNs
  server/utils/purge_pgn.py
Labels: enhancement, server

#1962 Add schema for the pgndb.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
Labels: enhancement, server

#1956 improve readability of itp code (no functional change)
  server/fishtest/rundb.py
Labels: server, refactoring

#1958 Update memory estimates
  server/fishtest/api.py
  server/fishtest/rundb.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, update

#1964 Fix SPSA iteration mismatch
  server/fishtest/views.py
Labels: enhancement, server

#1966 Drop "Content-Encoding" header for run PGNs
  server/fishtest/api.py
Labels: enhancement, server

#1965 Download games button for approvers
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1963 Force mime type of pgn_zip to be application/gzip in schema.
  server/fishtest/api.py
  server/fishtest/schemas.py
Labels: enhancement, server

#1967 Use JavaScript to download the run PGNs
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1969 use the custom `alertError` for errors we want to show to the user
  server/fishtest/static/js/calc.js
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#1972 Show download progress
  server/fishtest/static/js/application.js
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui
