Repository official-stockfish/fishtest, pull requests merged in 2025-07, with the labels that each got.

#2339 refactor: update the GitHub PAT link
  server/fishtest/templates/rate_limits.mak
  server/fishtest/templates/user.mak
Labels: server, gui, update, refactoring

#2340 More refactorings of github_api calls
  server/fishtest/github_api.py
  server/fishtest/kvstore.py
  server/fishtest/lru_cache.py
  server/fishtest/rundb.py
  server/fishtest/templates/rate_limits.mak
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_run.py
Labels: server, refactoring

#2342 Remove superfluous try/catch block.
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#2344 Insert move_to_end calls in lru_cache __(get,set)item__()
  server/fishtest/lru_cache.py
Labels: enhancement, server

#2346 Show reset time in rate_limits page.
  server/fishtest/api.py
  server/fishtest/github_api.py
  server/fishtest/routes.py
  server/fishtest/static/js/application.js
  server/fishtest/templates/rate_limits.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#2348 Simplify _download_from_github_api()
  server/fishtest/github_api.py
Labels: enhancement, server

#2349 Various cleanups
  server/fishtest/__init__.py
  server/fishtest/github_api.py
  server/fishtest/rundb.py
  server/fishtest/templates/rate_limits.mak
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_run.py
Labels: enhancement, server

#2354 Use GITHUB_TOKEN during CI.
  .github/workflows/server.yaml
  server/fishtest/github_api.py
  server/fishtest/kvstore.py
  server/fishtest/rundb.py
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_github_api.py
  server/tests/test_run.py
Labels: enhancement

#2350 Display error message when obtaining diff fails.
  server/fishtest/static/js/application.js
  server/fishtest/templates/rate_limits.mak
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#2353 Restrain GitHub api calls by the server
  server/fishtest/views.py
Labels: enhancement, server

#2359 Hopefully fix for #2358
  server/fishtest/rundb.py
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: bug, server
