Repository official-stockfish/fishtest, pull requests merged in 2025-02, with the labels that each got.

#2192 Leave the run_cache in a good state after flush_all.
  server/fishtest/run_cache.py
Labels: enhancement, server

#2194 Remove old workaround
  server/fishtest/rundb.py
Labels: enhancement, server

#2195 feat: add script to build Nginx CIDR config
  server/utils/nginx_cidr_builder.py
Labels: refactoring

#2196 Save network file w/ Pyramid
  server/fishtest/views.py
  server/utils/aws_nets_sync.py
  server/utils/nginx_cidr_builder.py
Labels: enhancement, server

#2198 Add missing flush=True to log print in clean_wtt_map.
  server/fishtest/rundb.py
Labels: server

#2201 show approver on test details
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#2200 feat: capture all warnings from fastchess
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#2202 make approver name clickable in details
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#2203 Revert "feat: capture all warnings from fastchess"
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: bug, worker update

#2207 fix(server): drop unused imports, no bare exceptions
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/userdb.py
  server/fishtest/util.py
  server/fishtest/views.py
Labels: refactoring

#2209 refactor(worker): convert updater.py to f-strings
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/updater.py
  worker/worker.py
Labels: worker update, refactoring

#2210 fix: close test mongodb connection on exit
  server/tests/util.py
Labels: enhancement

#2204 feat: migrate build and tooling to pyproject.toml
  .github/workflows/lint.yaml
  .github/workflows/server.yaml
  .github/workflows/worker_msys2.yaml
  .github/workflows/worker_posix.yaml
  .pre-commit-config.yaml
  pyproject.toml
  server/MANIFEST.in
  server/fishtest/__init__.py
  server/fishtest/api.py
  server/fishtest/run_cache.py
  server/fishtest/rundb.py
  server/fishtest/schemas.py
  server/fishtest/stats/LLRcalc.py
  server/fishtest/userdb.py
  server/pyproject.toml
  server/setup.cfg
  server/setup.py
  server/uv.lock
  uv.lock
  worker/pyproject.toml
  worker/uv.lock
Labels: enhancement, refactoring

#2211 feat(worker): stop run on illegal (pv) moves
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#2213 refactor(server): use consistent naming in schemas
  server/fishtest/schemas.py
Labels: server, refactoring

#2215 refactor(server): use not ambiguous naming
  server/fishtest/stats/LLRcalc.py
  server/fishtest/stats/stat_util.py
  server/fishtest/views.py
Labels: server, refactoring

#2214 Scavenge dead tasks without using the run cache.
  server/fishtest/run_cache.py
  server/fishtest/rundb.py
Labels: enhancement, server

#2218 refactor(worker): improve import from "packages"
  server/fishtest/api.py
  worker/games.py
  worker/packages/__init__.py
  worker/sri.txt
  worker/updater.py
  worker/worker.py
Labels: enhancement, worker update

#2217 Do not produce a cascade of stop_run's.
  server/fishtest/api.py
Labels: enhancement, server

#2219 refactor(worker): improve test code.
  server/fishtest/api.py
  worker/sri.txt
  worker/tests/test_worker.py
  worker/worker.py
Labels: worker update, refactoring

#2220 refactor(worker): consistent use of "tests" flag
  server/fishtest/api.py
  worker/sri.txt
  worker/tests/test_worker.py
  worker/worker.py
Labels: worker update, refactoring

#2223 make download games button available for all
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#2224 chore(tooling): bump to latest version
  .pre-commit-config.yaml
  pyproject.toml
  server/pyproject.toml
  server/uv.lock
  uv.lock
Labels: update

#2225 feat(spsa chart): improve code
  server/fishtest/static/js/spsa.js
Labels: server, gui

#2226 fix(spsa): fix and improve chart code
  server/fishtest/rundb.py
  server/fishtest/static/js/spsa.js
Labels: enhancement, server, gui

#2221 Refine handling of last_updated in stopped run
  server/fishtest/api.py
  server/fishtest/rundb.py
Labels: enhancement, server

#2227 Do not revive a failed run.
  server/fishtest/rundb.py
  server/fishtest/views.py
Labels: enhancement, server

#2228 Overhaul cachebuster logic
  server/fishtest/__init__.py
  server/fishtest/routes.py
  server/fishtest/templates/base.mak
  server/fishtest/templates/login.mak
  server/fishtest/templates/signup.mak
  server/fishtest/templates/sprt_calc.mak
  server/fishtest/templates/tests.mak
  server/fishtest/templates/tests_live_elo.mak
  server/fishtest/templates/tests_run.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/templates/user.mak
Labels: enhancement, server

#2229 use webp images
  server/fishtest/static/css/application.css
  server/fishtest/static/css/flags.css
  server/fishtest/static/html/maintenance.html
  server/fishtest/static/img/flags.webp
  server/fishtest/static/img/stockfish.webp
  server/fishtest/static/js/application.js
  server/pyproject.toml
Labels: enhancement, server, gui

#2231 Revert "Do not revive a failed run."
  server/fishtest/rundb.py
  server/fishtest/views.py
Labels: server

#2230 fix darkmode switch
  server/fishtest/static/js/application.js
Labels: enhancement, server, gui

#2233 Require reapproval for reviving a failed run.
  server/fishtest/views.py
Labels: enhancement, server

#2235 Cleanup: retire `cached_flash`.
  server/fishtest/views.py
Labels: server, refactoring

#2238 feat(server): download pgns sorted for task_id
  server/fishtest/rundb.py
Labels: enhancement, server

#2236 Create a "warning" queue for flash messages.
  server/fishtest/templates/base.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#2081 Fix NPS measurement for TC scaling
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#2239 Simplify handling of SPSA.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
Labels: enhancement, server

#2241 Fix schema error introduced in #2239
  server/fishtest/schemas.py
Labels: bug, server

#2243 Make sure to buffer the run after request_spsa.
  server/fishtest/run_cache.py
  server/fishtest/rundb.py
Labels: bug, server

#2246 refactor(server): util.py
  server/fishtest/util.py
Labels: server, update, refactoring

#2245 Decouple the core spsa update logic from the reporting
  server/fishtest/rundb.py
Labels: server, refactoring

#2247 Add document size to tests page.
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#2248 fix(worker): setup fastchess in robust way
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: bug, worker update

#2249 Greatly reduce the amount of spsa data stored in active tasks.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
Labels: enhancement, server
