Repository official-stockfish/fishtest, pull requests merged in 2025-06, with the labels that each got.

#2295 Check that a run is not finished before reviving after modifying.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
  server/fishtest/views.py
Labels: enhancement, server

#2299 Create a "worker_log" end point on the server
  server/fishtest/actiondb.py
  server/fishtest/api.py
  server/fishtest/routes.py
  server/fishtest/schemas.py
  server/fishtest/templates/actions.mak
Labels: enhancement, server

#2300 Make it possible for the worker to post to the server event log.
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#2292 Add signature difference check
  server/fishtest/templates/tests_run.mak
Labels: enhancement, server, gui

#2306 More warnings
  server/fishtest/schemas.py
  server/fishtest/views.py
Labels: enhancement, server

#2303 refactor: use f-strings throughout
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/updater.py
  worker/worker.py
Labels: worker update, refactoring

#2308 Fix silly indentation bug in #2304
  server/fishtest/api.py
Labels: bug, server

#2310 Hopefully should fix the issue raised in #2309
  server/fishtest/helpers.py
  server/fishtest/util.py
  server/fishtest/views.py
Labels: bug, server

#2313 One more fix in dealing with #2309
  server/fishtest/views.py
Labels: enhancement, server

#2316 Attempt to deal with old tests with an empty tests_repo.
  server/fishtest/helpers.py
  server/fishtest/views.py
Labels: bug, server

#2317 Various cleanups and refactorings.
  server/fishtest/github_api.py
  server/fishtest/helpers.py
  server/fishtest/kvstore.py
  server/fishtest/rundb.py
  server/fishtest/schemas.py
  server/fishtest/templates/user.mak
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_api.py
  server/tests/test_run.py
  server/tests/test_rundb.py
Labels: server, refactoring

#2320 bugfix: deal gracefully with corrupt book files
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: bug, worker update

#2330 Add a rate limit item (server and client) to the sidebar.
  server/fishtest/routes.py
  server/fishtest/static/css/application.css
  server/fishtest/static/js/application.js
  server/fishtest/templates/base.mak
  server/fishtest/templates/rate_limits.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#2333 chore: bump project packages
  .pre-commit-config.yaml
  pyproject.toml
  server/pyproject.toml
  server/uv.lock
  uv.lock
  worker/uv.lock
Labels: update

#2332 Introduce convenience function is_master(sha) and use it.
  server/fishtest/github_api.py
  server/fishtest/rundb.py
  server/fishtest/templates/run_table.mak
  server/fishtest/util.py
  server/fishtest/views.py
Labels: enhancement, server

#2334 Remove the rate limit check in is_master
  server/fishtest/github_api.py
Labels: enhancement, server

#2336 Some last second changes which were missed in the last PR.
  server/fishtest/github_api.py
  server/fishtest/views.py
Labels: enhancement, server
