Repository official-stockfish/fishtest, pull requests merged in 2025-08, with the labels that each got.

#2360 Log failing API calls to event log.
  server/fishtest/__init__.py
  server/fishtest/github_api.py
  server/tests/test_github_api.py
Labels: enhancement, server

#2362 Improve worker rejection message and code clarity
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#2363 Cleanup
  server/fishtest/api.py
  server/utils/current.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, refactoring

#2366 Cleaner and more efficient implementation of is_master
  server/fishtest/github_api.py
  server/tests/test_github_api.py
Labels: server, refactoring

#2369 Update fastches for https://github.com/Disservin/fastchess/pull/900
  server/fishtest/api.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, update

#2371 Disable CORS for the public get_run api
  server/fishtest/api.py
Labels: enhancement, server

#2375 Update fastchess to 66cac47
  server/fishtest/api.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, update

#2383 Cache the result of normalize_repo for 10 minutes.
  server/fishtest/github_api.py
  server/fishtest/views.py
Labels: bug, server
