Repository official-stockfish/fishtest, pull requests merged in 2025-04, with the labels that each got.

#2275 Salvage recently accessed network and book files on worker update
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/updater.py
  worker/worker.py
Labels: enhancement, worker update

#2280 Further tweak warnings/notes in tests_view.mak
  server/fishtest/templates/tests_view.mak
  server/fishtest/util.py
  server/fishtest/views.py
Labels: enhancement, server, gui

#2282 Update min GCC to 9.3 and Clang to 10.0
  server/fishtest/api.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, update

#2285 chore: bump project packages
  .pre-commit-config.yaml
  pyproject.toml
  server/pyproject.toml
  server/uv.lock
  uv.lock
Labels: update

#2277 Salvage engine binaries compiled with ARCH=native
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/updater.py
  worker/worker.py
Labels: enhancement, worker update

#2284 Show engine option mismatch warning also for SPSA tests
  server/fishtest/views.py
Labels: enhancement, server, gui

#2287 update book used for PTs
  server/fishtest/static/js/spsa_new.js
  server/fishtest/templates/tests_run.mak
Labels: server, update
