Repository official-stockfish/fishtest, pull requests merged in 2025-03, with the labels that each got.

#2250 Use bit array for storing flips in active spsa tasks
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/schemas.py
  server/fishtest/util.py
  server/tests/test_rundb.py
Labels: enhancement, server

#2253 perf(util.py): use numpy functions
  server/fishtest/util.py
Labels: server, refactoring

#2254 Delete SPSA glucode that is no longer needed
  server/fishtest/rundb.py
Labels: enhancement, server

#2255 refactor(server): improve formatted last_update
  server/fishtest/static/js/application.js
  server/fishtest/templates/contributors.mak
  server/fishtest/templates/machines.mak
  server/fishtest/templates/user_management.mak
  server/fishtest/templates/workers.mak
  server/fishtest/util.py
  server/utils/delta_update_users.py
Labels: server, refactoring

#2256 refactor(server): use datetime.UTC
  server/fishtest/actiondb.py
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/scheduler.py
  server/fishtest/schemas.py
  server/fishtest/userdb.py
  server/fishtest/views.py
  server/fishtest/workerdb.py
  server/tests/test_api.py
  server/tests/test_nn.py
  server/tests/test_rundb.py
  server/tests/test_users.py
  server/utils/convert_actions.py
  server/utils/purge_pgns.py
  server/utils/upgrade.py
Labels: server, refactoring

#2257 Do not wrap byte arrays with Binary.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
  server/utils/clone_fish.py
Labels: server, refactoring

#2258 feat(server): configuration with env variables
  server/fishtest/__init__.py
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/static/js/application.js
  server/fishtest/util.py
  server/fishtest/views.py
  server/utils/create_indexes.py
  server/utils/current.py
  server/utils/test_queries.py
Labels: enhancement, server

#2259 Only display reapproval message for previously approved run.
  server/fishtest/views.py
Labels: enhancement, server

#2260 Block all requests after SIGINT or SIGTERM is received.
  server/fishtest/__init__.py
  server/fishtest/rundb.py
Labels: enhancement, server

#2262 Put SPSA code in a separate file.
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/spsa_handler.py
  server/fishtest/templates/tests_view.mak
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_rundb.py
Labels: server, refactoring

#2263 Show a warning card when reviving a failed run.
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/schemas.py
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#2265 feat(worker): bench setting the hash
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#2266 feat: add new -testEnv option for fastchess
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#2267 More intrinsic way of protecting spsa state against server crashes
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/schemas.py
  server/fishtest/spsa_handler.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#2270 Replace dot by _ in engine name.
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: bug, enhancement, worker update

#2271 Move base diff link to "base branch not same as master" card
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#2272 Combine all warnings in a single card.
  server/fishtest/templates/tests_view.mak
  server/fishtest/views.py
Labels: enhancement, server, gui

#2273 Look for curl and/or wget during toolchain check in worker.
  server/fishtest/api.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#2278 feat(worker): drop check only mandatory tools
  server/fishtest/api.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, update
