Repository official-stockfish/fishtest, pull requests merged in 2025-01, with the labels that each got.

#2154 Enable worker lock code
  server/fishtest/api.py
  worker/sri.txt
  worker/worker.py
Labels: bug, worker update

#2136 Update base settings for PT tests
  server/fishtest/rundb.py
Labels: enhancement, server

#2119 Switch from cutechess-cli to fastchess
  .github/workflows/worker_msys2.yaml
  .github/workflows/worker_posix.yaml
  AUTHORS
  server/fishtest/api.py
  server/fishtest/rundb.py
  worker/games.py
  worker/sri.txt
  worker/tests/test_worker.py
  worker/worker.py
Labels: enhancement, worker update, iconic

#2137 Broken Links fixed in LLRcalc.py
  server/fishtest/stats/LLRcalc.py
Labels: server, update

#2111 Soften log message on expected non-validation of old run object.
  server/fishtest/rundb.py
Labels: enhancement, server

#2135 Fix benign schema error.
  server/fishtest/schemas.py
Labels: bug, server

#2156 Update the maintenance page
  server/fishtest/static/html/maintenance.html
Labels: server, update

#2114 Update the nps and games_per_minute of a run in a scheduled task.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
Labels: enhancement, server

#2118 Increasing the maximum number of tests users can follow from 15 to 20
  server/fishtest/static/js/notifications.js
Labels: enhancement, server

#2158 Fix race condition.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
Labels: bug, server

#2128 Faster worker stop on terminated task.
  server/fishtest/api.py
  server/tests/test_api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#2157 Update README and AUTHORS
  AUTHORS
  README.md
Labels: update

#2159 Update versions on GitHub Actions
  .github/workflows/lint.yaml
  .github/workflows/server.yaml
  .github/workflows/worker_posix.yaml
Labels: update

#2160 Implement the solution to #2124 suggested by peregrineshahin.
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server

#2161 Kill worker quickly with "killall python" while building fastchess.
  server/fishtest/api.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#2164 Add priority field to cache.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
Labels: enhancement, server

#2166 Check for semicolon in fastchess Warning
  worker/games.py
  worker/sri.txt
Labels: worker update, update

#2165 Update fastchess
  server/fishtest/api.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, update

#2163 Make fish.exit quit the worker after the next update_task.
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#1974 Don't save the residuals and their colors in the db.
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/schemas.py
  server/fishtest/templates/tasks.mak
  server/fishtest/util.py
  server/fishtest/views.py
Labels: enhancement, server

#2167 Increase max core count for SPSA tasks
  server/fishtest/rundb.py
Labels: enhancement, server

#2169 Include compiler and env in engine name. Retire clear_binaries.
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: enhancement, worker update

#2172 Disable caching the main page.
  server/fishtest/views.py
Labels: enhancement, server

#2174 Hopefully correct version of #2172.
  server/fishtest/views.py
Labels: enhancement, server

#2170 Index worker_runs data structure by short_worker_name.
  server/fishtest/rundb.py
  server/fishtest/schemas.py
Labels: enhancement, server

#2175 Save a run with finished tasks with higher priority.
  server/fishtest/api.py
  server/fishtest/rundb.py
Labels: enhancement, server

#2176 Move some more buffer calls deeper in the call chain
  server/fishtest/api.py
  server/fishtest/rundb.py
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_api.py
  server/tests/test_rundb.py
Labels: enhancement, server

#2177 Use a non built-in name for variable
  server/fishtest/api.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, refactoring

#2179 Salvage fastchess binary after worker update.
  server/fishtest/api.py
  worker/sri.txt
  worker/updater.py
  worker/worker.py
Labels: enhancement, worker update

#2183 Toggle between absolute/percentage for SPSA graph
  server/fishtest/static/js/spsa.js
  server/fishtest/templates/tests_view.mak
Labels: enhancement, server, gui

#2180 Update fastchess version
  server/fishtest/api.py
  worker/games.py
  worker/sri.txt
  worker/worker.py
Labels: worker update, update

#2184 Update cdn libraries
  server/fishtest/templates/base.mak
  server/fishtest/templates/tests_view.mak
Labels: server, update

#2185 Eliminate benign race condition.
  server/fishtest/rundb.py
Labels: enhancement, server

#2186 Eliminate some more unsynchronized changes to the run object.
  server/fishtest/views.py
Labels: enhancement, server

#2187 Use const for variables
  server/fishtest/static/js/spsa.js
Labels: server, refactoring

#2188 Add .editorconfig
  .editorconfig
Labels: enhancement

#2189 Move the scheduler code to a separate file.
  server/fishtest/rundb.py
  server/fishtest/scheduler.py
  server/fishtest/util.py
Labels: server, refactoring

#2190 Refactor run_cache.
  server/fishtest/run_cache.py
  server/fishtest/rundb.py
  server/fishtest/util.py
  server/fishtest/views.py
  server/tests/test_api.py
  server/tests/test_rundb.py
  server/tests/test_users.py
Labels: server, refactoring
